.areaCard {
    width: 230px;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    grid-gap: 5px;
}

.areaCards {
    padding: 10px;
}

.textoaval {
    height: 115px;
    overflow: auto;
    font-size: 13px;
    color: #616161;
}