<div class="areaCards">
    <div>
        <h2>Avaliações</h2>
    </div>
    <div class="areaCard">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">star_rate</mat-icon>
                </div>
                <mat-card-title>Iago</mat-card-title>
                <mat-card-subtitle>Nota 4</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image [defaultImage]="'assets/vultoroxonome.png'" [lazyLoad]="'item.imagem'" offset="100" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p class="textoaval">
                    Entrega muito rápida! Sistema Perfeito.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>Reponder</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
