<div id="areaqr" *ngIf="statusShowQr" class="qrcode" (click)="clickshowqr()">
    <qrcode [qrdata]="urlqr" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
</div>

<div *ngIf="!statusShowQr" style="padding: 10px; text-align: center;">
    <div style="margin-top: 2px;">

        <form id="form1">
            <input style="display: none;" type='file' id="imgInpCapa" (change)="inputFileCapa($event)" />
            <input style="display: none;" type='file' id="imgInp" (change)="inputFile($event)" />

            <div class="idelsuc" [defaultImage]="servico.getDefaultImage()" [lazyLoad]="imagemEmpresaCapa" alt="Logomarca">

                <div class="delsuccapa">
                    <button mat-raised-button color="primary" (click)="onClickImagemSelecionarCapa()">Selecionar
                        capa</button>
                </div>
                <div>
                    <div>
                        <img mat-card-image [defaultImage]="servico.getDefaultImage()" [lazyLoad]="imagemEmpresa" alt="Logomarca" style="width: 80px; height: 80px; border-radius: 10px;margin: auto;" id="imgInp" (change)="inputFile($event)">
                    </div>
                    <div>
                        <button style="margin-top: 10px;" color="primary" mat-raised-button (click)="onClickImagemSelecionar()">Selecionar logomarca</button>
                    </div>
                </div>

            </div>
        </form>

        <div class="example-form" style="margin:auto;" [formGroup]="formPerfil">

            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Ex. @email" formControlName="email" type="email" disabled>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Nome empresa</mat-label>
                <input matInput placeholder="Ex. Vulto Delivery" formControlName="nome" type="text">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Telefone</mat-label>
                <input matInput placeholder="Ex. (74)98842-0307" formControlName="telefone" type="tel" mask="(00)00000-0000">
            </mat-form-field>


            <mat-form-field class="example-full-width">
                <mat-label>Rua da empresa</mat-label>
                <input matInput placeholder="Ex. Rua nome... " formControlName="rua" type="text">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Bairro da empresa</mat-label>
                <input matInput placeholder="Ex. nome bairro..." formControlName="bairro" type="text">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Número da empresa</mat-label>
                <input matInput placeholder="Ex. 83" formControlName="numero" type="tel">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Cidade</mat-label>
                <input matInput placeholder="Ex. 83" formControlName="cidade" type="text">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>CEP</mat-label>
                <input matInput placeholder="Ex. 00.000-000" formControlName="cep" type="tel" mask="00.000-000">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>CNPJ/CPF</mat-label>
                <input matInput placeholder="Ex. **************" formControlName="cnpj" type="tel">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Política de entrega</mat-label>
                <textarea matInput placeholder="Ex. Em casos de entrega canceladas..." formControlName="politica" type="text"></textarea>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Descrição da empresa</mat-label>
                <textarea matInput placeholder="" formControlName="descricao" type="name"></textarea>
            </mat-form-field>


            <div style="margin-top: 10px;text-align: left;">
                <button mat-raised-button (click)="alterarSenha()">Alterar senha</button>
                <button *ngIf="servico.btQrcode" color="warn" style="margin-left: 10px;" mat-raised-button (click)="clickshowqr()"> QR Code </button>
            </div>
        </div>

        <button style="margin-top: 10px;" mat-raised-button color="primary" (click)="onClickSav()">Salvar configurações</button>

    </div>
</div>