.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.qrcode {
    text-align: center;
    position: absolute;
    z-index: 1;
    background: #1b1b1b;
    width: 93%;
    height: 90.4vh;
    display: grid;
    align-items: center;
    align-content: center;
}

.example-full-width {
    width: 100%;
}

.idelsuc {
    display: grid;
    grid-template-columns: 0fr 5fr 1fr;
    justify-content: space-around;
    background: #eaeaea;
    padding-top: 35px;
    padding-bottom: 35px;
    border-radius: 5px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    /* background-size: 100%; */
    background-position: center;
    width: 925px;
    margin: auto;
    margin-bottom: 50px;
}

.delsuccapa {
    margin: 10px;
    margin-top: -22px;
}

@media(max-width:600px) {
    .idelsuc {
        width: 100%;
        grid-template-columns: 1fr;
    }
}