<mat-toolbar>
    <span>Programa de fidelidade</span>
</mat-toolbar>
<div class="c" [formGroup]="form">
    <div class="c1">
        <div class="cc">

            <section class="example-section">
                <mat-checkbox formControlName="status">Ativar</mat-checkbox>
            </section>


            <div class="cinpu">
                <mat-form-field>
                    <mat-label>Mensagem</mat-label>
                    <input type="text" formControlName="mensagem" matInput placeholder="Mensagem que o usuário vai receber quando ganhar">
                </mat-form-field>
            </div>
            <div class="cinpu">
                <mat-form-field>
                    <mat-label>Quantidade ganho por usuário</mat-label>
                    <input type="number" formControlName="qtd_max_ganhos" matInput placeholder="Quantidade de vezes de o usuário pode ganhar o desconto">
                </mat-form-field>
            </div>
            <div class="cinpu">
                <mat-form-field>
                    <mat-label>Quantidade pedidos ganhar</mat-label>
                    <input type="number" formControlName="qtd_pedido_ganhar" matInput placeholder="Quantidade de pedidos para ganhar">
                </mat-form-field>
            </div>
            <div class="cinpu">
                <mat-form-field>
                    <mat-label>Desconto</mat-label>
                    <input type="number" formControlName="valor_desconto" matInput placeholder="Valor do desconto" type="tel" currencyMask>
                </mat-form-field>
            </div>



            <button style="margin-top: 10px;" mat-flat-button color="primary" (click)="salvarFidelidade()">Salvar</button>

        </div>

        <div class="cc">


            <mat-form-field>
                <mat-label>Data início</mat-label>
                <input formControlName="di" matInput type="date">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Data fim</mat-label>
                <input formControlName="df" matInput type="date">
            </mat-form-field>

            <button style="margin-top: 10px;" mat-flat-button color="warn" (click)="consultaRegristros()">Buscar</button>

        </div>

    </div>


    <div class="c2">

        <mat-toolbar>
            <span>Ganhadores</span>
        </mat-toolbar>

        <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="cliente">
                <th mat-header-cell *matHeaderCellDef> Nome/Telefone. </th>
                <td mat-cell *matCellDef="let element"> {{element.id_usuario}} </td>
            </ng-container>

            <ng-container matColumnDef="id_pedido">
                <th mat-header-cell *matHeaderCellDef> Referência pedido </th>
                <td mat-cell *matCellDef="let element"> {{element.id_pedido}} </td>
            </ng-container>

            <ng-container matColumnDef="info">
                <th mat-header-cell *matHeaderCellDef> Data </th>
                <td mat-cell *matCellDef="let element"> {{element.info}} às {{element.horario}} </td>
            </ng-container>

            <ng-container matColumnDef="valor">
                <th mat-header-cell *matHeaderCellDef> Valor desconto </th>
                <td mat-cell *matCellDef="let element"> {{ element.id_pedido | currency:'BRL':true }} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

    </div>
</div>