<mat-spinner style="margin: auto;" *ngIf="!servpedidos.getPedido().id"></mat-spinner>
<div class="c" id="impressao" *ngIf="servpedidos.getPedido().id">
    <style>
        .jj {
            text-align-last: justify;
        }
    </style>
    <div style="width: 240px; font-size: 11pt;    margin: auto;">
        <div style="text-align: center;"> <b> {{ servpedidos.getPedido().dadosempresa.nome }} </b> </div>
        <div style="text-align: center;"> Obrigado pela preferência, volte sempre </div>
        <div style="text-align: center;"> <b> {{ servpedidos.getPedido().dadosempresa.telefone }} </b> </div>
        <div style="margin-top: 30px;"> <b> Detalhes do pedido #{{ servpedidos.getPedido().id }} </b> </div>
        <div> Nome: {{ servpedidos.getPedido().dadoscliente.nome }} </div>
        <div> Telefone: {{ servpedidos.getPedido().dadoscliente.telefone | mask: '(00) 0000-0000' }} </div>
        <div> Horário: {{ servpedidos.getPedido().info }} </div>
        <div> Tipo serviço: {{ servpedidos.getPedido().tipopedido }} </div>
        <div> Pagamento: {{ servpedidos.getPedido().formapagamento }} </div>
        <div> Endereço: {{ servpedidos.getPedido().endereco.rua }}, {{ servpedidos.getPedido().endereco.numero }} </div>
        <div> Bairro/Cidade: {{ servpedidos.getPedido().endereco.bairro.nome }}/{{ servpedidos.getPedido().endereco.cidade.nome }} </div>
        <div> Complemento: {{ servpedidos.getPedido().endereco.complemento }} </div>
        <div> Referência: {{ servpedidos.getPedido().endereco.tiporesidencia }} </div>
        <hr>
        <div> Itens: </div>
        <div *ngFor="let produto of servpedidos.getPedido().itens">
            <div style="    display: grid;
    grid-template-columns: 12fr 1fr;">
                <div> <b> {{ produto.qnt }}x </b> {{ produto.nome }} </div>
                <div>{{ produto.preco | currency:'BRL':true }} </div>
            </div>
            <div> <b> Observações: </b> {{ produto.observacao }} </div>
            <div> Adicionais: </div>
            <div style="    display: grid;
    grid-template-columns: 12fr 1fr;" *ngFor="let adc of produto.adicionais">
                <div>{{ adc.nome }} </div>
                <div> {{ adc.preco | currency:'BRL':true }} </div>
            </div>
        </div>
        <hr>
        <div style="    display: grid;
    grid-template-columns: 12fr 1fr;">
            <div>Desconto:</div>
            <div>{{ servpedidos.getPedido().desconto | currency:'BRL':true }}</div>
        </div>
        <div style="    display: grid;
    grid-template-columns: 12fr 1fr;">
            <div>Subtotal:</div>
            <div>{{ servpedidos.getPedido().subtotal | currency:'BRL':true }}</div>
        </div>
        <div style="    display: grid;
    grid-template-columns: 12fr 1fr;">
            <div>Taxa de entrega:</div>
            <div>{{ servpedidos.getPedido().taxaentrega | currency:'BRL':true }}</div>
        </div>
        <div style="    display: grid;
    grid-template-columns: 12fr 1fr;">

            <div><b> Total: </b></div>
            <div><b>{{ servpedidos.getPedido().total | currency:'BRL':true }}</b></div>

        </div>
    </div>
</div>

<div class="ab">
    <button (click)="onClickImprimir()" mat-raised-button color="primary">
        Imprimir
    </button>
</div>


<!--
-XDelssy Hamburgueria Artesanal
-Detalhes do Pedido #8414
-Nome:Mariana Gonçalves
-Telefone:74988186857
-Horário:05/Set/2020 19:45:31
-Tipo:Entrega
-Pagamento:Cartão (MasterCard)
-Endereço:Rua 4, 54
-Bairro/Cidade:Alto da Maravilha/Juazeiro
-Complemento:Casa
-Referência:Perto da Madenox
-1xCombo Frango
-R$23.00

-Observações: Sem tomate

R$23.00
Escolha o Sabor:
1x0.00 Pepsi-
Como você deseja a batata?
1x0.00 Com sal-
-Desconto 10%R$2.30
-ubtotalR$20.70
-Taxa de EntregaR$4.50
- Descontos(R$15.00)

TotalR$10.20
-->