<div class="g">
    <div class="c1">
        <mat-calendar [selected]="selectedDate" (selectedChange)="onSelect($event)"></mat-calendar>
        <div>
            <div style="    padding: 10px;
            background: #009688;
            color: white;">
                Dias agendados
            </div>
            <div class="item" *ngFor="let item of diasMark">
                <mat-icon>sports_motorsports</mat-icon>
                {{ item.dia_marcado }}
            </div>
        </div>
    </div>

    <div class="c2">
        <div class="ev">
            <div>Organização de entregadores</div>
            <div>
                <button *ngIf="btAdd" mat-icon-button (click)="addEvento()">
                <mat-icon>add</mat-icon>
              </button>
            </div>


        </div>
        <div class="i" *ngFor="let item of itens">
            <div>
                <div> <b> {{ item.nome }} </b> </div>
                <div> Hora início: {{ item.hora_inicio }} </div>
                <div> Hora fim: {{ item.hora_fim }} </div>
                <div> {{ item.descricao }} </div>
            </div>
            <div>
                <button *ngIf="btRem" mat-icon-button (click)="removerItem(item)">
                    <mat-icon>delete</mat-icon>
                  </button>
            </div>

        </div>
    </div>
</div>