<mat-progress-bar mode="query" *ngIf="servrelat.getStatusLoader()"></mat-progress-bar>
<mat-progress-bar mode="determinate" value="0" *ngIf="!servrelat.getStatusLoader()"></mat-progress-bar>

<div class="lay">

    <div>
        <div>
            <div class="badge">
                <div class="ddf">
                    <div>Pedidos</div>
                    <div class="ddf_f">{{ servrelat.getQntPedido() }}</div>
                </div>
                <div class="ddf">
                    <div>Receita</div>
                    <div class="ddf_f">{{ servrelat.getTotalFat() | currency:'BRL':true }}</div>
                </div>
                <div class="ddf">
                    <div>Ticket Médio</div>
                    <div class="ddf_f"> {{ servrelat.getTicketMedio() | currency:'BRL':true }} </div>
                </div>
                <div class="ddf">
                    <div>Pedidos com cupom</div>
                    <div class="ddf_f">{{ servrelat.getCupom() }}</div>
                </div>
            </div>
        </div>

        <router-outlet></router-outlet>
        <app-relatorios></app-relatorios>

        

    </div>
</div>
