<div class="lay">
    <div class="col-1">

        <mat-list role="list">

            <button class="btlista" mat-button routerLink="/painel-relatorio/vendas">
                <mat-icon>note</mat-icon>
                Vendas
            </button>

            <button class="btlista" mat-button routerLink="/painel-relatorio/itens">
                <mat-icon>note</mat-icon>
                Produtos
            </button>

            <button class="btlista" mat-button routerLink="/painel-relatorio/formas-pagamento">
                <mat-icon>note</mat-icon>
                Formas de pagamento
            </button>

            <button class="btlista" mat-button routerLink="/painel-relatorio/entregas">
                <mat-icon>note</mat-icon>
                Entregas/retiradas
            </button>

            <button class="btlista" mat-button routerLink="/painel-relatorio/total-fretes">
                <mat-icon>note</mat-icon>
                Total fretes
            </button>

            <button class="btlista" mat-button routerLink="/painel-relatorio/pedidos-cancelados">
                <mat-icon>note</mat-icon>
                Pedidos cancelados
            </button>

            <button class="btlista" mat-button routerLink="/painel-relatorio/faturamento">
                <mat-icon>note</mat-icon>
                Faturamento
            </button>

            <button class="btlista" mat-button routerLink="/painel-relatorio/clientes">
                <mat-icon>note</mat-icon>
                Clientes
            </button>



        </mat-list>

    </div>
    <div>

        <router-outlet></router-outlet>

    </div>
</div>