.lay {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 90.4vh;
}

.btlista {
    width: 100%;
    color: #503f61;
    text-align: inherit;
}

.col-1 {
    border-right: 1px solid #cacbcc;
}

.ffrela {
    display: grid;
    grid-gap: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

mat-form-field {
    width: 100%;
}

.badge {
    background: #272727;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid #7d7d7d;
    margin: 10px;
    border-radius: 3px;
}

.ddf {
    border-right: 1px solid #5a5a5a;
    padding: 13px;
    color: white;
}

.ddf_f {
    font-size: 25px;
    margin-top: 20px;
}