<div class="lay">

    <div>
        <div>
            <div class="badge">
                <div class="ddf">
                    <div>Pedidos</div>
                    <div class="ddf_f">{{ servrelat.getQntPedido() }}</div>
                </div>
                <div class="ddf">
                    <div>Receita</div>
                    <div class="ddf_f">{{ servrelat.getTotalFat() | currency }}</div>
                </div>
                <div class="ddf">
                    <div>Ticket Médio</div>
                    <div class="ddf_f"> {{ '28.51' | currency }} </div>
                </div>
                <div class="ddf">
                    <div>Pedidos com cupom</div>
                    <div class="ddf_f">{{ servrelat.getCupom() }}%</div>
                </div>
            </div>
        </div>

        <app-relatorios></app-relatorios>

        <router-outlet></router-outlet>

    </div>
</div>