<div class="c">
    <div class="c1">

        <button mat-button routerLinkActive="active-link" routerLink="/estoque/itens-estoque"> Estoque Loja </button>
        <button mat-button routerLinkActive="active-link" routerLink="/estoque/lista-motoboys"> Estoque Motoboy </button>
        <button mat-button routerLinkActive="active-link" routerLink="/estoque/logistica"> Logística </button>
        <button mat-button routerLinkActive="active-link" routerLink="/estoque/historico"> Auditoria </button>
        <button mat-button routerLinkActive="active-link" routerLink="/estoque/batimentos-estoque"> Batimentos de estoque </button>

    </div>
    <div class="c2">

        <router-outlet></router-outlet>

    </div>
</div>