<div class="g">
    <div class="col1">

        <mat-list role="list">


            <mat-list-item routerLinkActive="active-link" routerLink="conciliacao-bancaria">
                <span routerLinkActive="active-link"> Conciliação bancária </span>
                <mat-divider></mat-divider>
            </mat-list-item>

            <mat-list-item routerLinkActive="active-link" routerLink="consolidacao-financeira">
                <span routerLinkActive="active-link"> Consolidação financeira </span>

                <mat-divider></mat-divider>
            </mat-list-item>

            <mat-list-item routerLinkActive="active-link" routerLink="controle-fiado">
                <span routerLinkActive="active-link"> Controle de fiado </span>
                <mat-divider></mat-divider>
            </mat-list-item>


            <mat-list-item routerLinkActive="active-link" routerLink="/financeiro/comissao-entregas">
                <span routerLinkActive="active-link"> Comissão por entrega </span>
                <mat-divider></mat-divider>
            </mat-list-item>


        </mat-list>

    </div>
    <div class="col2">

        <router-outlet></router-outlet>


    </div>
</div>