.g {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40px 83.6vh;
}

.col1 {
    border-bottom: 1px solid #cecece;
    overflow: auto;
    max-height: 100%;
    background: #ececec;
    padding-top: 2px;
    padding-left: 3px;
}

.col2 {
    background-color: #f5f1f1;
    overflow: auto;
    max-height: 100%;
}