<div class="g">
    <div class="col1">

        <button *ngIf="btConcbancaria && servico.concBanc" mat-button routerLinkActive="active-link" routerLink="conciliacao-bancaria"> Conciliação bancária </button>
        <button *ngIf="btCartao && servico.concCartao" mat-button routerLinkActive="active-link" routerLink="consolidacao-cartao"> Consolidação de cartões </button>
        <button *ngIf="btDin && servico.concDinheiro" mat-button routerLinkActive="active-link" routerLink="consolidacao-dinheiro"> Consolidação de dinheiro </button>
        <button *ngIf="btFiado && servico.contFiado" mat-button routerLinkActive="active-link" routerLink="controle-fiado"> Controle de fiado </button>
        <button *ngIf="btEntrega && servico.comissaoEntrega" mat-button routerLinkActive="active-link" routerLink="/financeiro/comissao-entregas"> Comissão por entrega </button>
        <button *ngIf="btFinan && servico.concFinanceira" mat-button routerLinkActive="active-link" routerLink="consolidacao-financeira"> Consolidação financeira </button>



    </div>
    <div class="col2">

        <router-outlet></router-outlet>


    </div>
</div>