<div class="g">
    <div class="col1">

        <mat-list role="list">
            <mat-list-item routerLinkActive="active-link" routerLink="/financeiro/itens-estoque">
                <span routerLinkActive="active-link"> 
                    Posição de estoque   
                  </span>
                <mat-divider></mat-divider>
            </mat-list-item>
            <mat-list-item routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" routerLink="/financeiro/caixa">
                <span routerLinkActive="active-link"> Fechamento de caixa </span>
                <mat-divider></mat-divider>

            </mat-list-item>
            <mat-list-item routerLinkActive="active-link" routerLink="">
                <span routerLinkActive="active-link"> Lançamentos bancários </span>
                <mat-divider></mat-divider>
            </mat-list-item>

            <mat-list-item routerLinkActive="active-link" routerLink="vendas-clientes">
                <span routerLinkActive="active-link"> Pagamentos dos clientes </span>
                <mat-divider></mat-divider>
            </mat-list-item>

            <mat-list-item routerLinkActive="active-link" routerLink="">
                <span routerLinkActive="active-link"> Controle de vendas </span>
                <mat-divider></mat-divider>
            </mat-list-item>


            <mat-list-item routerLinkActive="active-link" routerLink="consolidacao-financeira">
                <span routerLinkActive="active-link"> Consolidação de financeira </span>
                <mat-divider></mat-divider>
            </mat-list-item>
            <mat-list-item routerLinkActive="active-link" routerLink="/financeiro/comissao-entregas">
                <span routerLinkActive="active-link"> Comissão por entrega </span>
                <mat-divider></mat-divider>
            </mat-list-item>


        </mat-list>

    </div>
    <div class="col2">

        <router-outlet></router-outlet>


    </div>
</div>