<mat-tab-group *ngIf="statusLoadItem">
    <mat-tab label="Item">

        <div class="a">
            <div class="e">
                <img *ngIf="itemCatalogo.imagem" [lazyLoad]="itemCatalogo.imagem" alt="">
            </div>
            <div>
                <div class="b">{{itemCatalogo.nome}}</div>
                <div class="c">{{itemCatalogo.descricao}}</div>
                <div>{{itemCatalogo.preco | currency}}</div>
            </div>

            <div>

                <mat-form-field>
                    <mat-label>Observação</mat-label>
                    <input #observacaoUsuario matInput placeholder="Ex. Retirar item não desejado">
                </mat-form-field>

            </div>

            <div class="d">

                <div class="opts">

                    <button style="font-size: 36px;" color="primary" mat-icon-button (click)="onclickAltQntSUB()">
            -
          </button>

                    <div> {{ itemCatalogo.qnt }} </div>

                    <button color="primary" mat-icon-button (click)="onclickAltQntADD()">
            <mat-icon>add</mat-icon>
          </button>

                </div>


                <button mat-flat-button color="warn" (click)="onclickAddCar(observacaoUsuario.value)">
          Adicionar {{ itemCatalogo.total | currency }}
        </button>


            </div>
        </div>

    </mat-tab>
    <mat-tab label="Adicionais">

        <div class="ada">
            <span *ngFor="let catadc of itemCatalogo.categoriaadicional">

        <mat-expansion-panel hideToggle *ngIf="catadc.status">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="panel-header-cat">
{{ catadc.nome }} <span *ngIf="catadc.obrigatorio" class="spanob" >Obrigatório</span>
        </div>

        </mat-panel-title>
        <mat-panel-description>
            <!--This is a summary of the content-->
        </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-list role="list">
            <span *ngFor="let adc of catadc.itens">
              <mat-list-item role="listitem">

                <div>

                  <div class="opts">

                    <button style="font-size: 36px;" color="primary" mat-icon-button
                      (click)="onclickRemoveAdc(adc, catadc)">
                      -
                    </button>

                    <div>
                      <span *ngIf="adc.qnt > 0">

                        <mat-icon *ngIf="catadc.maxsele === 1" icon="ion-navicon, material:md-check">check</mat-icon>
                        <span *ngIf="catadc.maxsele !== 1">{{ adc.qnt }}</span>

            </span>

            </div>

            <button color="primary" mat-icon-button (click)="onclickAddAdc(adc, catadc)">
                      <mat-icon>add</mat-icon>
                    </button>

            </div>
            </div>

            <div class="adcg">
                <div>{{ adc.nome }} </div>
                <div style="margin-left: 50px;"> {{ adc.preco | currency }} </div>
            </div>


            </mat-list-item>
            </span>
        </mat-list>

        </mat-expansion-panel>

        </span>
        </div>

    </mat-tab>

</mat-tab-group>
