img {
    width: 130px;
}

.a {
    max-height: 500px;
    overflow: auto;
}

.b {
    font-weight: 600;
}

.c {
    margin-top: 10px;
}

.d {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.e {
    text-align: center;
}

.aeadelsuc {
    display: grid;
    grid-template-columns: 132px 65%;
    gap: 3px;
}

.opts {
    display: grid;
    grid-template-columns: 40px 50px 40px;
    text-align: center;
    justify-items: center;
    align-items: center;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
}

mat-form-field {
    width: 100%;
    margin-top: 20px;
}

mat-tab-group {
    min-height: 500px;
    max-height: 500px;
}

.adcg {
    display: flex;
    margin-left: 10px;
    width: 100%;
    justify-content: space-between;
}

.spanob {
    color: #FFEB3B;
    background: #3F51B5;
    padding: 2px;
    padding: 5px;
}

.panel-header-cat {
    display: flex;
    display: grid;
    grid-template-columns: 15fr 1fr;
    align-items: center;
}