<div class="sep" [formGroup]="form">

    <mat-form-field class="f-cli" style="margin-left: 15px;">
        <mat-label>Data início</mat-label>
        <input matInput type="date" formControlName="di">
    </mat-form-field>
    <mat-form-field class="f-cli" style="margin-left: 0px;">
        <mat-label>Data fim</mat-label>
        <input matInput type="date" formControlName="df">
    </mat-form-field>

    <button mat-icon-button color="primary" (click)="histCaixa()">
        <mat-icon>search</mat-icon>
    </button>


</div>

<div class="tabela-conetudo">
    <mat-progress-bar *ngIf="statosHist" mode="query"></mat-progress-bar>
    <div class="tabela t-header">

        <div>Ver</div>

        <div>Total faturado</div>
        <div>Total diferença</div>

        <div>Aberto por</div>
        <div>Data aberto</div>

        <div>Fechado por</div>
        <div>Data fechado</div>

    </div>

    <div *ngFor="let element of dataSource" class="t-header-item" [class.nhiddel]="!element.hidden">
        <div class="tabela">
            <div>
                <button mat-icon-button color="primary" (click)="onclickItensTb(element)">
                        <mat-icon>remove_red_eye</mat-icon>
                      </button>
            </div>
            <div> {{element.total | currency:'BRL':true }} </div>
            <div> {{element.total_dif | currency:'BRL':true }} </div>
            <div> {{element.operador}} </div>
            <div> {{ element.info }} às {{ element.horario }} </div>

            <div> {{element.operador_fechou}} </div>
            <div> <span *ngIf="element.data_fechou"> {{ element.data_fechou }} às {{ element.hora_fechou }}</span> </div>
        </div>

        <div class="area-itens-dataSource">
            <mat-progress-bar mode="query" *ngIf="element.carregandoQuery"></mat-progress-bar>
            <app-tabela-pedidos [pedidos]="element.itens" *ngIf="element.hidden"></app-tabela-pedidos>
        </div>

    </div>

    <app-barra-total [nome]="'Total'" [valor]="total"></app-barra-total>




</div>