<div [formGroup]="form">
    <div style="margin-bottom: 15px;">Transferir estoque a outro entregador</div>
    <div class="delsuc">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Motoboys</mat-label>
                <mat-select formControlName="destino">
                    <span *ngFor="let item of motoboys">
                        <mat-option *ngIf="data.item.propriedade !== item.id"  [value]="item.id">
                            {{ item.nome }}
                        </mat-option>
                    </span>
                </mat-select>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <mat-label>Quantidade unidades</mat-label>
                <input matInput type="number" placeholder="1" formControlName="quantidade">
            </mat-form-field>
        </div>


    </div>

    <div>
        <button mat-stroked-button color="accent" [mat-dialog-close]="false">Cancelar</button>
        <button style="margin-left: 3px;" mat-flat-button color="warn" [mat-dialog-close]="form.value">Confirmar</button>
    </div>
</div>