table {
    width: 100%;
}

.example-card {
    max-width: 192px;
    float: left;
    margin: 2px;
}

.example-header-image {
    /* background-image: url('');*/
    background-size: cover;
    background-position: center;
    background-size: 125%;
    background-repeat: no-repeat;
}

.badate {
    background-color: #3f51b5;
    padding: 4px;
    color: white;
    border-radius: 6px;
}

.mat-card-image {
    width: 90%;
    margin: auto;
}

.imgEnt {
    background-color: #b5b5b500;
    height: 120px;
    width: 100%;
    background-position: center;
    background-size: 73% 90%;
    background-repeat: no-repeat
}

.imgEntTB {
    background-color: #b5b5b500;
    height: 60px;
    width: 60px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.tEntSel:focus {
    background: #3F51B5;
    color: yellow;
}