<div style="padding: 6px;">
    <mat-card>

        <mat-chip-list aria-label="Fish selection">

            <!--<mat-chip color="accent" selected (click)="onclickCadastroEnt()">
               <mat-icon>add</mat-icon> Nova Entrega
            </mat-chip>-->

            <mat-chip color="accent" (click)="onclickFiltroStatusEnt(0)" matTooltip="Entregas que ainda não foram aceitas por motoboys">Pendentes</mat-chip>
            <!--<mat-chip color="accent" (click)="onclickFiltroStatusEnt(8)" matTooltip="Entregas enviadas diretamente aos motoboys de sua lista">Diretas Pendentes</mat-chip>-->
            <mat-chip color="accent" (click)="onclickFiltroStatusEnt(1)" matTooltip="Entregas que já foram aceitas por motoboys">Aceitas</mat-chip>
            <mat-chip color="accent" (click)="onclickFiltroStatusEnt(2)" matTooltip="Entregas que estão a caminho do cliente">A caminho</mat-chip>
            <mat-chip color="accent" (click)="onclickFiltroStatusEnt(3)" matTooltip="Entregas que já foram entregues">Entregues</mat-chip>
            <mat-chip color="accent" (click)="onclickFiltroStatusEnt(4)" matTooltip="Entregas canceladas pelos motoboys ou pela empresa">Canceladas</mat-chip>
            <!--<mat-chip color="accent" (click)="onclickFiltroStatusEnt(5)" matTooltip="Entregas com formulário pronto para serem publicadas">Rascunho</mat-chip>-->
            <mat-chip style="background-color: rgb(73, 136, 9); color: white;" color="accent" (click)="onclickFiltroStatusEnt(9)" matTooltip="Entregas concluídas">Concluídas</mat-chip>
        </mat-chip-list>


    </mat-card>
</div>


<span *ngFor="let item of servico.getListaEntregas()">
  <mat-card class="example-card" *ngIf="item.status_pedido == statusEnt">
    <mat-card-header>

      <mat-icon *ngIf="item.status === '2'"  style="color: rgb(20, 185, 20);"  matTooltip="Entrega conluída">done_all</mat-icon>
      <mat-icon *ngIf="item.status === '1'" style="color: rgb(69, 0, 245);"  matTooltip="Pronta para retirada">done</mat-icon>
      <mat-icon *ngIf="item.status === '0'" style="color: rgb(245, 0, 0);"  matTooltip="Esta entrega ainda não está pronta para retirada.">announcement</mat-icon>

      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>#{{item.id}}</mat-card-title>
      <mat-card-subtitle style="font-size: 10px;">{{item.status_pedido_texto}}</mat-card-subtitle>
    </mat-card-header>
    <div style="color: #9e9c99;font-size: 10px;">
      <span *ngIf="item.entregador"> {{item.entregador.nome}} </span>
<span *ngIf="!item.entregador"> Sem entregador </span>
</div>
<span *ngIf="item.entregador">
      <div class="imgEnt" style="background-image: url({{item.entregador.imagem}});"></div>
    </span>
<span *ngIf="!item.entregador">
      <div class="imgEnt"></div>
    </span>
<mat-progress-bar style="margin-top: -4px;" *ngIf="item.status_pedido == 0" mode="buffer" title="Aguardando mototoboy"></mat-progress-bar>
<mat-card-content>
    <div style="font-size: 13px; color: #575758;">
        {{item.info}}
        <br>Dados entrega
        <div style="overflow: auto;min-height: 120px;max-height: 120px;">
            <br> <b> <span style="font-size: 11px;">Nome cliente</span> </b>
            <br>{{item.nome_cliente}}
            <br> <b> <span style="font-size: 11px;">Endereço</span> </b>
            <br>{{item.rua_cliente}}, {{item.numero_cliente}}, {{item.bairro_cliente}} - {{item.cidade_cliente}}
            <br> <b> <span style="font-size: 11px;">Complemento</span> </b>
            <br>{{item.ponto_res_cliente}}
            <br>Valor entrega {{item.valor_pedido_cliente | currency:'BRL':true}}
            <br> <b> <span style="font-size: 11px;">Tipo residência/Tipo entrega </span> </b>
            <br>{{item.tipo_res_cliente}}/{{item.tipo_entrega}}
            <br><br>

        </div>

        <br>
        <span class="badate">Taxa entrega {{item.taxa_entrega |  currency:'BRL':true}}</span>
    </div>
</mat-card-content>
<mat-card-actions>
    <button mat-button (click)="onclickEntrega(item)">Opções</button>
    <button mat-button (click)="onclickVerHist(item)">Histórico</button>
</mat-card-actions>
</mat-card>

</span>