table {
    width: 100%;
}

.faturaOK {
    color: "green";
}

.fatuErro {
    background: #FFEB3B;
    padding: 6px;
    color: black;
    border-radius: 9px;
}

.fatuErroToken {
    padding: 10px;
    background: #00000069;
    margin-top: 7px;
    border-radius: 6px;
}

.fatu {
    background: #1d1c1f;
    padding: 10px;
    color: white;
    font-size: 13px;
    border-bottom: 1px solid #0000002e;
}

.emppendente {
    background-color: gold;
}

.nol {
    background-color: #921c1c;
    padding: 5px;
    border-radius: 3px;
    font-size: 8px;
    color: white;
}

.stawh {
    padding: 5px;
    border-radius: 1px;
    background-color: green;
    color: white;
    font-size: 7px;
    margin-left: 2px;
}
.stawhoff {
    border-radius: 1px;
    color: white;
    background-color: #921c1c;
    padding: 5px;
    font-size: 7px;
}

.stawhdesc {
    border-radius: 1px;
    color: rgb(0, 0, 0);
    background-color: #a97e09;
    padding: 5px;
    font-size: 7px;
}

.stawhpen {
    border-radius: 1px;
    color: rgb(255, 255, 255);
    background-color: #0011d1;
    padding: 5px;
    font-size: 7px;
}

.stawhqr {
    border-radius: 1px;
    color: rgb(255, 255, 255);
    background-color: #940175;
    padding: 5px;
    font-size: 7px;
}