<mat-toolbar>
    <span> Menu </span>
</mat-toolbar>

<mat-toolbar>

    <div style="    padding: 20px;">

        <mat-form-field>
            <mat-label> Data início </mat-label>
            <input matInput type="date" #dbi>
        </mat-form-field>

        <mat-form-field>
            <mat-label> Data início </mat-label>
            <input matInput type="date" #dbf>
        </mat-form-field>

        <button [disabled]="ggf" style="margin-left: 10px;" mat-flat-button color="warn" (click)="gerarFaturas(dbi.value, dbf.value)"> Gerar fatura </button>

    </div>


</mat-toolbar>

<mat-toolbar>
    <span> Loja </span>
</mat-toolbar>

<div class="fatu" *ngFor="let item of acoes">
    <div [class.fatuErro]="item.itens.details">
        {{ item.mensagem }} <span *ngIf="item.itens.details"> :ERRO: </span>
        <div>
            <div [class.fatuErroToken]="item.itens.mensagem"> {{ item.itens.mensagem }} </div>
            <div *ngIf="item.itens.details" [class.fatuErro]="item.itens.details"> {{ item.itens.details[0].message }} </div>
        </div>

    </div>
</div>

<div>

    <table mat-table [dataSource]="itens">

        <ng-container matColumnDef="status_conta">
            <th mat-header-cell *matHeaderCellDef> Status Delivery </th>
            <td mat-cell *matCellDef="let element" [class.emppendente]="!element.permissoes">
                <div style="display: flex; align-items: center; justify-content: space-evenly;">
                    <img style="border-radius: 10px;" width="40px" [defaultImage]="servico.getDefaultImage()" [lazyLoad]="element.imagem" alt="Logo da loja">
                    <mat-slide-toggle [(ngModel)]="element.status" #statusConta (click)="attStatusEnt(element, statusConta)" color="primary" [checked]="element.status === '1'">
                    </mat-slide-toggle>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="op">
            <th mat-header-cell *matHeaderCellDef> Aberto/Fechado </th>
            <td mat-cell *matCellDef="let element" [class.emppendente]="!element.permissoes">
                <span *ngIf="element.status_delivery === '1'"> Aberto </span>
                <span *ngIf="element.status_delivery === '0'"> Fechado </span>

            </td>
        </ng-container>



        <ng-container matColumnDef="c1">
            <th mat-header-cell *matHeaderCellDef> Nome </th>
            <td mat-cell *matCellDef="let element" [class.emppendente]="!element.permissoes">

                {{ element.nome }}

            </td>
        </ng-container>

        <ng-container matColumnDef="c2">
            <th mat-header-cell *matHeaderCellDef> Bairro - Cidade </th>
            <td mat-cell *matCellDef="let element" [class.emppendente]="!element.permissoes">
                {{ element.bairro }} - {{ element.cidade }}
            </td>
        </ng-container>

        <ng-container matColumnDef="c3">
            <th mat-header-cell *matHeaderCellDef> Pedidos Concluídos/Cancelados/Total </th>
            <td mat-cell *matCellDef="let element" [class.emppendente]="!element.permissoes">
                {{ element.qnt_conc }}/{{ element.qnt_canc }}/{{ element.qnt_pedidos }}
            </td>
        </ng-container>

        <ng-container matColumnDef="c4">
            <th mat-header-cell *matHeaderCellDef> Data cadastro </th>
            <td mat-cell *matCellDef="let element" [class.emppendente]="!element.permissoes">
                {{ element.data_cadastro }}
            </td>
        </ng-container>



        <ng-container matColumnDef="add">
            <th mat-header-cell *matHeaderCellDef>
                <button mat-icon-button color="primary" routerLink="/admin/cadastro-loja">
                    <mat-icon>add</mat-icon>
                </button>
            </th>
            <td mat-cell *matCellDef="let element" [class.emppendente]="!element.permissoes">

                <button matTooltip="Ver loja" (click)="verEmpresa(element)" mat-icon-button color="primary">
                    <mat-icon>remove_red_eye
                    </mat-icon>
                </button>

            </td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>