<div style="    display: flex;    height: 91%;">

    <div class="col1">
        <div class="dadosmsgs temaBackgroundChat">
            <div class="c">
                <img width="40" src="{{servicoApp.getDadosEmpresa().imagem}}" alt="logo_empresa" style="border-radius: 5px;">
            </div>
            <div class="cc">
                <span>{{servicoApp.getDadosEmpresa().nome}}</span>
                <!--<br><div style="font-size: 11px;">{{ servicoChat.getCanalChat() }}</div>-->
            </div>
        </div>

        <div class="arealistaUsuariosChat temaBackgroundChat">
            <span *ngFor="let item of servicoChat.getUsuariosChat()">
      <a href="javascript:;" style="text-decoration: none;">
        <div class="itemUsuario" *ngIf="item.status" (click)="abrirCanalChatUsu(item)">
          <div class="iaimg"><img width="40" src="https://vulto.site/vulto_/assets/audio/chatb.gif" alt="imgusuario"></div>
          <div class="iadados">
            <div class="finome">{{item.nome}}</div>
            <div>
              <span style="color: rgb(105, 105, 105);"> {{item.telefone}} </span>
        </div>
    </div>
    <div class="iadados_">
        <div style="    margin-top: 42px;
            margin-left: 18px;    background-color: #19b12c;" class="info" matBadge="{{item.qntVist}}" [matBadgeHidden]="item.statusVisto" matBadgeColor="accent"></div>
    </div>
</div>
</a>
</span>
</div>
</div>

<div class="col2">
    <span *ngIf="statusCanal">
    <div class="areamsgs">
      <div class="dadosmsgs2 temaBackgroundChat">
        <div class="c">
          <img width="40" src="https://vulto.site/vulto_/assets/iconeChat.png" alt="imgusuario">
        </div>
        <div class="cc">
          <span>{{servicoChat.getDadosCanal().nome}}</span>
</div>
</div>


<!--msgs-->
<div class="caixamsgs">
    <span *ngFor="let item of servicoChat.getDadosCanal().mensagens">
          <div class="msgserver" *ngIf="item.tipo == 'server'">

            <div class="msgserver1">
              {{item.mensagem}}
              <div class="infoserver">{{item.info}}</div>
            </div>


          </div>


          <div class="msgcliente" *ngIf="item.tipo == 'cliente'">

            <div class="msgcliente1">
              {{item.mensagem}}
              <div class="infoserver">{{item.info}}</div>
            </div>


          </div>
        </span>
</div>
<!--msgs-->


</div>
<div class="areaop temaBackgroundChat">
    <div class="alertooff" *ngIf="servicoChat.getDadosCanal().status == false">
        <div>
            <mat-icon>info</mat-icon>
        </div>
        <div style="    padding-top: 3px;
        padding-left: 4px;">O cliente foi desconectado
        </div>
    </div>
    <input type="text" placeholder="Digite uma mensagem" class="st" [(ngModel)]="msgInput" [disabled]="false">
</div>
</span>
</div>


</div>
