.example-form {
    width: 350px;
    text-align: center;
}

.example-full-width {
    width: 100%;
}

mat-grid-tile {
    color: rgb(24, 23, 23);
}

.conteudo {
    background: #00000061;
    height: 100vh;
    display: grid;
    position: absolute;
    z-index: 1;
    width: 100%;
}

.aform {
    text-align: -webkit-center;
    background: #ffffff;
    width: 320px;
    margin: auto;
    border-radius: 12px;
    /*  box-shadow: 1px 2px 13px rgb(183 168 168 / 77%);*/
}

.bt1 {
    width: 100%;
}

.bt2 {
    margin-top: 20px;
}

.imglogo {
    width: 70px;
    border-radius: 12px;
    margin: auto;
}

.aform1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    margin-top: 30px;
}

.aform2 {
    padding: 20px;
}

a {
    color: #0289ff;
}

mat-form-field.mat-form-field {
    font-size: 16px;
    color: #000000;
}

mat-label {
    color: #000000;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgb(218, 217, 217)!important;
}

::placeholder {
    color: rgb(0, 0, 0);
    opacity: 1;
    /* Firefox */
}


/* Cor de fundo do autocomplete */

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #ffffff inset;
}


/* Cor do texto do autocomplete */

input:-webkit-autofill {
    -webkit-text-fill-color: #0289ff !important;
}

HTML CSSResult Skip Results Iframe EDIT ON body {
    margin: 0;
}


/* ====================
    Background
=======================*/

.background {
    width: 100vw;
    height: 100vh;
    animation: pulse 5s infinite;
    overflow: hidden;
}


/*
@keyframes pulse {
    0% {
        background: #3F51B5;
    }
    50% {
        background: #3F51B5;
    }
    100% {
        background: #3F51B5;
    }
}
*/

.background {
    background: #3F51B5;
}

.background p {
    z-index: 999;
    margin: 0;
    color: #ffffff;
    text-transform: uppercase;
    font-family: lato;
    font-size: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
}

.elements {
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}


/* ====================
      Squares
=======================*/

.square {
    /* border: 10px dashed #db0f60;*/
    border: 10px dashed #2196f31f;
}

.sq2 {
    animation: move1 180s infinite;
    animation-timing-function: linear;
    width: 1110px;
    height: 1110px;
}

@keyframes move1 {
    0% {
        transform: rotate(0deg);
        opacity: 0.5;
    }
    50% {
        width: 1000px;
        height: 1000px;
    }
    100% {
        transform: rotate(1000deg);
        opacity: 1;
    }
}

.sq3 {
    width: 600px;
    height: 600px;
    animation: move1 120s infinite;
    animation-timing-function: linear;
}

.sq1 {
    width: 500px;
    height: 500px;
    animation: move1 100s infinite;
    animation-timing-function: linear;
}


/*   */

.lines {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    margin: auto;
    width: 90vw;
}

.line {
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 50%;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
}

.line::after {
    content: "";
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
    -webkit-animation: drop 7s 0s infinite;
    animation: drop 7s 0s infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.line:nth-child(1) {
    margin-left: -25%;
}

.line:nth-child(1)::after {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.line:nth-child(3) {
    margin-left: 25%;
}

.line:nth-child(3)::after {
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
}

@-webkit-keyframes drop {
    0% {
        top: -50%;
    }
    100% {
        top: 110%;
    }
}

@keyframes drop {
    0% {
        top: -50%;
    }
    100% {
        top: 110%;
    }
}