<div class="conteudo">

    <div class="aform" defa [formGroup]="formLogin">
        <div style="height: 80px;
        margin-top: 31px;">
            <img class="imglogo" [src]="servico.getLogoEmpresa()" offset="10000">
        </div>
        <!--<div class="aform2">
            <img class="imglogo" [src]="servico.getDefaultImage()" offset="10000">
            <div style="margin-top: 20px;">
                Conectar a sua conta 
            </div>
            <div>
                Ainda não tem um cadastro? <a href="javascript:;" routerLink="/cadastro"> Cadastre-se </a>
            </div>
        </div>-->

        <div class="aform1">
            <mat-form-field color="primary" appearance="outline" class="example-full-width">
                <mat-label color="primary">Entre com seu email</mat-label>
                <input matInput placeholder="Ex. @email" type="email" formControlName="email" (keydown.enter)="oncllickEntrar()">
            </mat-form-field>

            <mat-form-field color="accent" appearance="outline" class="example-full-width">
                <mat-label>Senha</mat-label>
                <input matInput placeholder="****" type="password" formControlName="senha" (keydown.enter)="oncllickEntrar()">
            </mat-form-field>

            <section>

                <div class="example-button-row" style="text-align: center;">
                    <button class="bt1" mat-raised-button color="primary" (click)="oncllickEntrar()" disabled="{{btloginstatus}}">Entrar</button>
                    <!--<button class="bt2" mat-stroked-button color="primary" style="margin-left: 10px;" routerLink="/recuperar"> Recuperar conta </button>-->
                </div>
            </section>
            <section style="    margin-top: 14px;
            float: l;
            text-align: initial;
            font-size: 12px;
            color: #545151;">
                <mat-checkbox class="example-margin" [(ngModel)]="checked" [ngModelOptions]="{standalone: true}"> Permanecer conectado </mat-checkbox>
            </section>
        </div>


    </div>

</div>