.delsuc {
    width: 258px;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 88px 166px;
}

.img {
    background: #e4e4e4;
    width: 80px;
    height: 80px;
    border-radius: 5px;
    margin-bottom: 0px;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #e2e0e0;
}

button {
    width: 100%;
    font-size: 11px;
}