<mat-toolbar>
    <span>
        Logística
    </span>
</mat-toolbar>
<mat-progress-bar mode="indeterminate" *ngIf="statusLoader"></mat-progress-bar>

<table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef> Data cadastro </th>
        <td mat-cell *matCellDef="let element">

            <button [disabled]="statusBT" (click)="remItemLog(element)" mat-icon-button color="warn">
                <mat-icon>delete</mat-icon>
              </button> {{element.info}} às {{element.horario}} </td>
    </ng-container>

    <ng-container matColumnDef="valor_pedido">
        <th mat-header-cell *matHeaderCellDef> Valor do pedido </th>
        <td mat-cell *matCellDef="let element"> {{element.valor_pedido | currency:'BRL':true}} </td>
    </ng-container>

    <ng-container matColumnDef="local_saida">
        <th mat-header-cell *matHeaderCellDef> Local de saída </th>
        <td mat-cell *matCellDef="let element"> {{element.local_saida}} </td>
    </ng-container>


    <ng-container matColumnDef="local_chegada">
        <th mat-header-cell *matHeaderCellDef> Local de chegada </th>
        <td mat-cell *matCellDef="let element"> {{element.local_chegada}} </td>
    </ng-container>

    <ng-container matColumnDef="previsao_chegada">
        <th mat-header-cell *matHeaderCellDef> Previsão de chegada </th>
        <td mat-cell *matCellDef="let element"> {{element.previsao_chegada}} </td>
    </ng-container>



    <ng-container matColumnDef="produtos">
        <th mat-header-cell *matHeaderCellDef> Produtos </th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="verProdutos(element)">
                <mat-icon>remove_red_eye</mat-icon>
              </button>

        </td>
    </ng-container>

    <ng-container matColumnDef="bt1">
        <th mat-header-cell *matHeaderCellDef>

            <button mat-icon-button color="primary" (click)="onClickAdd()">
                <mat-icon>add</mat-icon>
              </button>

        </th>
        <td mat-cell *matCellDef="let element">
            <button [disabled]="element.status_chegou === '1'" (click)="lacarEstoque(element)" mat-stroked-button>Adicionar ao estoque</button>
        </td>
    </ng-container>








    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
</table>