<form class="example-form" style="margin:auto;">

  <mat-form-field class="example-full-width">
    <mat-label>Nome</mat-label>
    <input matInput placeholder="Ex. Nome Cliente..." value="">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Telefone</mat-label>
    <input matInput placeholder="Ex. (74)98842-0307" value="">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Rua</mat-label>
    <input matInput placeholder="Ex. Rua Nome..." value="">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Número</mat-label>
    <input matInput placeholder="Ex. 83" value="">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Bairro</mat-label>
    <input matInput placeholder="Ex. Nome Bairro..." value="">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Cidade</mat-label>
    <input matInput placeholder="Ex. Nome Cidade" value="">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Uf</mat-label>
    <input matInput placeholder="Ex. BA" value="">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Cidade</mat-label>
    <input matInput placeholder="Ex. Nome Cidade" value="">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Complemento</mat-label>
    <input matInput placeholder="Ex. Casa em frente ao Delivery" value="">
  </mat-form-field>

  <button mat-button color="warn" >Cancelar</button>
  <button mat-button color="primary" >Salvar</button>
</form>
