<div [formGroup]="form">


    <div style="    text-align: center;
    font-size: 12px;
    margin: 20px;
    margin-top: 2px;">
        Retirar estoque da loja
    </div>

    <div class="delsuc">

        <div style="text-align: center;">
            Informe o motivo da quebra de estoque e a quantidade que será retirado da loja
        </div>

        <mat-form-field>
            <mat-label>Motivo da quebra do estoque</mat-label>
            <input matInput type="name" placeholder="Ex.: Quebra/Abono/Premium" formControlName="motivo">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Quantidade</mat-label>
            <input matInput type="number" placeholder="1" formControlName="quantidade">
        </mat-form-field>

    </div>

    <div>
        <button mat-stroked-button color="accent" [mat-dialog-close]="false">Cancelar</button>
        <button style="margin-left: 3px;" mat-flat-button color="warn" (click)="confirmar()">Confirmar</button>
    </div>
</div>