<div [formGroup]="form">

    <!--<mat-form-field>
        <mat-label>Cidade</mat-label>
        <input matInput placeholder="Ex. cidade_id" formControlName="cidade_id">
    </mat-form-field>-->

    <mat-form-field style="width: 100%;">
        <mat-label>Nome bairro</mat-label>
        <input matInput placeholder="Ex. Nome" formControlName="bairro">
    </mat-form-field>

    <mat-form-field style="width: 50%;">
        <mat-label>Latitude</mat-label>
        <input matInput placeholder="-99999999" formControlName="latitude">
    </mat-form-field>

    <mat-form-field style="width: 50%;">
        <mat-label>Longetude</mat-label>
        <input matInput placeholder="-99999999" formControlName="longetude">
    </mat-form-field>

    <div>
        <button mat-stroked-button color="accent" [mat-dialog-close]="false">Cancelar</button>
        <button style="margin-left: 3px;" mat-flat-button color="warn" [mat-dialog-close]="form.value">Salvar</button>
    </div>

</div>