<div *ngIf="data.nomeDialog === 'form_formaspagamento'" [formGroup]="form">
    <mat-form-field>
        <mat-label>Nome da forma de pagamento</mat-label>
        <input matInput placeholder="Ex. Dinheiro" formControlName="nome">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Descrição</mat-label>
        <input matInput placeholder="Ex. Descrição" formControlName="descricao">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Status</mat-label>
        <input matInput placeholder="Ex. Status" formControlName="status">
    </mat-form-field>

    <div>
        <button mat-stroked-button color="accent" [mat-dialog-close]="false">Cancelar</button>
        <button style="margin-left: 3px;" mat-flat-button color="warn" [mat-dialog-close]="form.value">Salvar</button>
    </div>
</div>




<div *ngIf="data.nomeDialog === 'form_cidade'" [formGroup]="form" style="display: grid;">
    <mat-form-field>
        <mat-label>Nome cidade</mat-label>
        <input matInput placeholder="Ex. Cidade" formControlName="cidade">
    </mat-form-field>

    <!--<mat-form-field>
        <mat-label>Id Cidade</mat-label>
        <input matInput placeholder="Ex. id cidade" formControlName="id_cidade">
    </mat-form-field>-->

    <mat-form-field>
        <mat-label>Latitude</mat-label>
        <input matInput placeholder="-999999999" formControlName="latitude">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Longetude</mat-label>
        <input matInput placeholder="-999999999" formControlName="longetude">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Status</mat-label>
        <input matInput placeholder="Ex. Status" formControlName="status">
    </mat-form-field>

    <div>
        <button mat-stroked-button color="accent" [mat-dialog-close]="false">Cancelar</button>
        <button style="margin-left: 3px;" mat-flat-button color="warn" [mat-dialog-close]="form.value">Salvar</button>
    </div>

</div>

<div *ngIf="data.nomeDialog === 'form_bairro'" [formGroup]="form">

    <mat-form-field>
        <mat-label>Cidade</mat-label>
        <input matInput placeholder="Ex. cidade_id" formControlName="cidade_id">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Nome bairro</mat-label>
        <input matInput placeholder="Ex. Nome" formControlName="bairro">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Latitude</mat-label>
        <input matInput placeholder="-99999999" formControlName="latitude">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Longetude</mat-label>
        <input matInput placeholder="-99999999" formControlName="longetude">
    </mat-form-field>

    <div>
        <button mat-stroked-button color="accent" [mat-dialog-close]="false">Cancelar</button>
        <button style="margin-left: 3px;" mat-flat-button color="warn" [mat-dialog-close]="form.value">Salvar</button>
    </div>

</div>



<div *ngIf="data.nomeDialog === 'form_pass'" [formGroup]="form">


    <div style="text-align: center; font-size: 12px;">
        Iforme a senha para efetivar esta ação
    </div>

    <div class="delsuc">

        <mat-form-field>
            <mat-label>Senha</mat-label>
            <input matInput type="password" placeholder="**** ** ***" formControlName="senha">
        </mat-form-field>

    </div>

    <div>
        <button mat-stroked-button color="accent" [mat-dialog-close]="false">Cancelar</button>
        <button style="margin-left: 3px;" mat-flat-button color="warn" [mat-dialog-close]="form.value">Confirmar</button>
    </div>
</div>

<div *ngIf="data.nomeDialog === 'form_estoque'" [formGroup]="form">



    <div class="delsuc">

        <mat-form-field>
            <mat-label>Nome</mat-label>
            <input matInput type="name" placeholder="Nome item" formControlName="nome">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Descrição</mat-label>
            <input matInput type="name" placeholder="Descrição item" formControlName="descricao">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Quantidade</mat-label>
            <input matInput type="number" placeholder="1" formControlName="quantidade">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Valor</mat-label>
            <input matInput placeholder="R$0,00" formControlName="valor" mask="separator.2" thousandSeparator=".">
        </mat-form-field>

    </div>

    <div>
        <button mat-stroked-button color="accent" [mat-dialog-close]="false">Cancelar</button>
        <button style="margin-left: 3px;" mat-flat-button color="warn" [mat-dialog-close]="form.value">Confirmar</button>
    </div>
</div>

<div *ngIf="data.nomeDialog === 'form_estoque_enviar'" [formGroup]="form">


    <div style="    text-align: center;
    font-size: 12px;
    margin: 20px;
    margin-top: 2px;">
        Motoboy: <b> {{ data.item.propriedade }} </b>
    </div>

    <div class="delsuc">


        <mat-form-field>
            <mat-label>Quantidade</mat-label>
            <input matInput type="number" placeholder="1" formControlName="quantidade">
        </mat-form-field>

    </div>

    <div>
        <button mat-stroked-button color="accent" [mat-dialog-close]="false">Cancelar</button>
        <button style="margin-left: 3px;" mat-flat-button color="warn" [mat-dialog-close]="form.value">Confirmar</button>
    </div>
</div>