<div class="conteudo">
    <div class="c1">Pedido #8842</div>
    <mat-vertical-stepper [linear]="false" #stepper>

        <mat-step>
            <ng-template matStepLabel>Informações do cliente</ng-template>
            <div class="c2">
                <div class="c22"><span class="ddc">Nome:</span> {{servpedidos.getPedido().dadoscliente.nome}} {{servpedidos.getPedido().dadoscliente.sobrenome}}</div>
                <div class="c22"><span class="ddc">Telefone:</span> {{servpedidos.getPedido().dadoscliente.telefone}}</div>
                <div class="c22"><span class="ddc">Endereço: </span> {{servpedidos.getPedido().endereco.rua}}, {{servpedidos.getPedido().endereco.numero}}, {{servpedidos.getPedido().endereco.bairro.nome}} - {{servpedidos.getPedido().endereco.cidade.nome}}
                </div>
                <div class="c22"><span class="ddc">Complemento:</span> {{servpedidos.getPedido().endereco.complemento}}</div>
                <div class="c22"><span class="ddc">Tipo residência:</span> {{servpedidos.getPedido().endereco.tiporesidencia}}</div>
            </div>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>Tipo de serviço</ng-template>
            <mat-card style="background-color: yellow;">
                {{servpedidos.getPedido().tipopedido}}
            </mat-card>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>Metodo de pagamento</ng-template>
            <div class="">{{servpedidos.getPedido().formapagamento}}</div>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>Detalhes do pedido</ng-template>

            <div class="" style="width: 100%;">
                <table mat-table [dataSource]="servpedidos.getPedido().itens">


                    <ng-container matColumnDef="quantidade">
                        <th mat-header-cell *matHeaderCellDef> Qnt. </th>
                        <td mat-cell *matCellDef="let element">
                            <span matBadge="{{element.qnt}}" [matBadgeHidden]="false" matBadgeColor="accent"></span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="item">
                        <th mat-header-cell *matHeaderCellDef> Item. </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="itmnome">{{element.nome}}</div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="observacao">
                        <th mat-header-cell *matHeaderCellDef> Observacão. </th>
                        <td mat-cell *matCellDef="let element">
                            <div *ngIf="element.observacao" class="srtbs">{{element.observacao}}</div>

                        </td>
                    </ng-container>

                    <ng-container matColumnDef="adicionais">
                        <th mat-header-cell *matHeaderCellDef> Adicionais. </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="itmadc" *ngFor="let adc of element.adicionais">
                                {{adc.qnt}}<strong>x</strong> {{adc.nome}}
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="desconto">
                        <th mat-header-cell *matHeaderCellDef> Desconto. </th>
                        <td mat-cell *matCellDef="let element"> {{element.desconto | currency}} </td>
                    </ng-container>

                    <ng-container matColumnDef="preco">
                        <th mat-header-cell *matHeaderCellDef> Preço. </th>
                        <td mat-cell *matCellDef="let element"> {{element.preco | currency}} </td>
                    </ng-container>

                    <ng-container matColumnDef="total">
                        <th mat-header-cell *matHeaderCellDef> Total. </th>
                        <td mat-cell *matCellDef="let element"> {{element.total | currency}} </td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="detalhespedido"></tr>
                    <tr mat-row *matRowDef="let row; columns: detalhespedido;"></tr>
                </table>

                <div class="ccde">
                    <div class="ccde1">
                        <div class="ccde11">Subtotal</div>
                        <div>{{servpedidos.getPedido().subtotal | currency}}</div>
                    </div>

                    <div class="ccde1">
                        <div class="ccde11">Taxa de entrega</div>
                        <div>{{servpedidos.getPedido().taxaentrega | currency}}</div>
                    </div>

                    <div class="ccde1">
                        <div class="ccde11">Desconto</div>
                        <div>{{servpedidos.getPedido().desconto | currency}}</div>
                    </div>

                    <div class="ccde1 gff">
                        <div class="ccde11">Total</div>
                        <div>{{servpedidos.getPedido().total | currency}}</div>
                    </div>

                    <div class="ccde1">
                        <div class="ccde11">Troco para</div>
                        <div>{{servpedidos.getPedido().troco | currency}}</div>
                    </div>

                </div>

                <mat-card class="ccupom" *ngIf="servpedidos.getPedido().cupom">
                    <div> O cliente usou um cupom no valor {{servpedidos.getPedido().cupom.valor | currency}} de para este pedido</div>
                    <div style="font-size: 12px;"> {{ servpedidos.getPedido().cupom.descricao }} </div>
                </mat-card>

            </div>
        </mat-step>

        <mat-step>

            <ng-template matStepLabel>Histórico do pedido</ng-template>

            <div class="" style="width: 100%;">
                <table mat-table [dataSource]="servpedidos.getPedido().historico">

                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef> Status. </th>
                        <td mat-cell *matCellDef="let element"> {{element.nome}}
                            <br> <span style="font-size: 12px; color: red;">{{element.observacao}} </span> </td>
                    </ng-container>

                    <ng-container matColumnDef="info">
                        <th mat-header-cell *matHeaderCellDef> Data. </th>
                        <td mat-cell *matCellDef="let element"> {{element.info}} </td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </mat-step>
    </mat-vertical-stepper>



    <div class="arbts">
        <div style="padding: 6px;">

            <mat-chip-list aria-label="Fish selection">

                <mat-chip *ngIf="servpedidos.getPedido().status_pedido == 0" (click)="onClickAttStatusPedido(1)" style="background-color: rgb(92, 177, 6); color: white;" color="accent">Aceitar</mat-chip>
                <mat-chip *ngIf="servpedidos.getPedido().status_pedido == 0" [mat-dialog-close]="'cancelar_pedido'" style="background-color:  rgb(168, 14, 40);color: white;" color="accent" matTooltip="Obs! Se rejeitar este pedido, o mesmo não poderá sofrer mais alterações em seu estatus">Rejeitar</mat-chip>
                <mat-chip *ngIf="servpedidos.getPedido().status_pedido == 1" (click)="onClickAttStatusPedido(2)" color="accent">Pronto para sair</mat-chip>
                <mat-chip *ngIf="servpedidos.getPedido().status_pedido == 1" (click)="onClickAttStatusPedido(3)" color="accent">Pronto para retirada</mat-chip>
                <mat-chip *ngIf="servpedidos.getPedido().status_pedido == 2 || servpedidos.getPedido().status_pedido == 3" (click)="onClickAttStatusPedido(4)" color="accent">A caminho</mat-chip>
                <mat-chip *ngIf="servpedidos.getPedido().status_pedido == 4" (click)="onClickAttStatusPedido(5)" color="accent">Entregue</mat-chip>
                <mat-chip *ngIf="servpedidos.getPedido().status_pedido != 0" [mat-dialog-close]="'cancelar_pedido'" color="accent">Cancelar</mat-chip>
                <mat-chip *ngIf="servpedidos.getPedido().status_pedido == 5 || servpedidos.getPedido().status_pedido == 7" (click)="onClickAttStatusPedido(6)" color="accent">Concluído</mat-chip>
            </mat-chip-list>


        </div>
    </div>


</div>