<mat-toolbar>
    <span>Entregadores</span>
</mat-toolbar>

<div>

    <table mat-table [dataSource]="itens">


        <ng-container matColumnDef="op">
            <th mat-header-cell *matHeaderCellDef> Editar. </th>
            <td mat-cell *matCellDef="let element">

                <button mat-icon-button color="accent" (click)="onClickEditar(element)">
          <mat-icon>edit</mat-icon>
        </button>

            </td>
        </ng-container>



        <ng-container matColumnDef="c1">
            <th mat-header-cell *matHeaderCellDef> Dados pessoais. </th>
            <td mat-cell *matCellDef="let element">
                <div style="display: flex;">
                    <div class="imgMot" [lazyLoad]="element.imagem"></div>

                    <div style="font-size: 13px;">
                        {{element.email}} - {{element.nome}}
                        <br> {{element.telefone}} - {{element.cpf}}
                        <br> {{element.rg}}
                    </div>
                </div>

            </td>
        </ng-container>

        <ng-container matColumnDef="c2">
            <th mat-header-cell *matHeaderCellDef> Endereço. </th>
            <td mat-cell *matCellDef="let element">
                {{element.rua}}, {{element.numero}}, {{element.bairro}} - {{element.cidade}}
                <br> {{element.cep}}
            </td>
        </ng-container>

        <ng-container matColumnDef="c3">
            <th mat-header-cell *matHeaderCellDef> Data criado. </th>
            <td mat-cell *matCellDef="let element">
                {{element.data_cadastro}}
            </td>
        </ng-container>



        <ng-container matColumnDef="add">
            <th mat-header-cell *matHeaderCellDef>
                <button mat-icon-button color="accent" (click)="add()">
            <mat-icon>add</mat-icon>
          </button> </th>
            <td mat-cell *matCellDef="let element">

                <button (click)="removerItem(element)" mat-icon-button color="accent">
                    <mat-icon>delete</mat-icon>
                  </button>

            </td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>