<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="true" style="background-color: #F8F8F8;">
        <mat-toolbar style="background-color: 36A0E1; color: #36a0e1;">Menu</mat-toolbar>

        <button mat-button style="display: none;" (click)="drawer.toggle()" id="btnav">sidenav.toggle()</button>


        <mat-nav-list>


            <a mat-list-item [routerLink]="['/painelpedidos/pedidos']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
                <mat-icon *ngIf="!servico.getStatusDelivery()" style="color: #E91E63;" matTooltip="O estabalecimento está fechado">info</mat-icon>
                <mat-icon>view_headline</mat-icon>
                <span [matBadge]="servpedidos.getQntPedidoAberto()" [matBadgeHidden]="!servpedidos.getStatusNotificar()" matBadgeColor="accent">Pedidos</span>
            </a>

            <a mat-list-item routerLink="/meusclientes" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
                <mat-icon>perm_identity</mat-icon>
                Meus clientes
            </a>

            <a mat-list-item routerLink="/entregas" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
                <mat-icon>view_headline</mat-icon>
                Entregas
            </a>


            <a mat-list-item [routerLink]="['/inicio']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
                <mat-icon>public</mat-icon>
                Mapa
            </a>


            <a mat-list-item routerLink="/notificacoes" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
                <mat-icon>info</mat-icon>
                <span matBadge="1" [matBadgeHidden]="servico.getMostrarNost()" matBadgeColor="accent"> Notificações
                </span>
            </a>





            <a mat-list-item routerLink="/estoque/itens-estoque">
                <mat-icon *ngIf="servico.getDadosEmpresa().operador.tipo !== 'master'" style="color: #E91E63;" matTooltip="Você não tem acesso as configurações">lock</mat-icon>
                <mat-icon *ngIf="servico.getDadosEmpresa().operador.tipo === 'master'">book</mat-icon>
                Estoque
            </a>



            <a mat-list-item routerLink="/relatorio/historico-vendas" *ngIf="servico.getDadosEmpresa().operador.tipo === 'master'">
                <mat-icon>assignment</mat-icon>
                Relatórios
            </a>

            <a mat-list-item routerLink="/financeiro/conciliacao-bancaria">
                <mat-icon *ngIf="servico.getDadosEmpresa().operador.tipo !== 'master'" style="color: #E91E63;" matTooltip="Você não tem acesso as configurações">lock</mat-icon>
                <mat-icon *ngIf="servico.getDadosEmpresa().operador.tipo === 'master'">money</mat-icon>
                Financeiro
            </a>

            <a mat-list-item routerLink="/fechar-caixa">
                <mat-icon *ngIf="servico.getDadosEmpresa().operador.tipo !== 'master'" style="color: #E91E63;" matTooltip="Você não tem acesso as configurações">lock</mat-icon>
                <mat-icon *ngIf="servico.getDadosEmpresa().operador.tipo === 'master'">archive</mat-icon>
                Fechar caixa
            </a>



            <a *ngIf="servico.getDadosEmpresa().operador.tipo === 'master'" mat-list-item routerLink="/painel" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
                <mat-icon>settings</mat-icon>
                Configurações
            </a>



            <a mat-list-item *ngIf="servico.getDadosEmpresa().operador.tipo !== 'master'">
                <mat-icon style="color: #E91E63;" matTooltip="Você não tem acesso as configurações">lock</mat-icon>
                Configurações
            </a>


            <!--<a mat-list-item routerLink="/config">
                <mat-icon>settings</mat-icon>
                <span> Configurações </span>
            </a>-->
            <!--<a mat-list-item routerLink="/login">
        <mat-icon>input</mat-icon>
        Sair
      </a>-->
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>
                <div>Dashboard</div>
                <div class="ddgui_"> {{ this.servico.getDadosEmpresa().operador.nome }} ({{ this.servico.getDadosEmpresa().operador.tipo }}) </div>

            </span>
            <div style="position: absolute;margin-left: 12%;" *ngIf="servico.getStatusLogado() !== false">
                <span matBadge="{{servico.getsetQntEntOn()}}" matBadgeOverlap="false" matBadgeColor="accent">
                        <mat-icon title="Motoboys disponíveis">sports_motorsports</mat-icon>
                    </span>
            </div>


        </mat-toolbar>
        <!-- Add Content Here -->
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>