<div [formGroup]="form">

    <div class="g0">

        <div class="g1">

            <mat-form-field appearance="fill" style="margin-top: 3px;">
                <mat-label> Forma de pagamento </mat-label>
                <mat-select (selectionChange)="selectChange()" formControlName="formapagamento">
                    <span *ngFor="let item of itensPagamento">
                    <mat-option  [value]="item" *ngIf="item.disponivel && item.nome != 'Fiado'" >
                        {{item.nome}}
                    </mat-option>
                </span>
                </mat-select>
            </mat-form-field>


        </div>
        <div class="g2">

            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label> Valor a pagar </mat-label>
                <input matInput placeholder="R$0,00" type="number" formControlName="valor_pag">
                <mat-icon matSuffix>money</mat-icon>
            </mat-form-field>

        </div>


    </div>

    <div style="height: 70px;display: flex;">
        <button style="height: 36px;" mat-stroked-button color="warn" [mat-dialog-close]="false"> Cancelar </button>
        <button *ngIf="data.valor_devedor !== '0'" mat-stroked-button color="primary" style="margin-left: 10px;height: 36px" (click)="onClickPagar()"> Pagar </button>


        <mat-form-field appearance="fill" *ngIf="cartao" style="width: 150px;margin-left: 10px;">
            <mat-label> Itens de pagamento </mat-label>
            <mat-select formControlName="itemPagamento">
                <span *ngFor="let item of itensPag">
                <mat-option [value]="item.id">
                    {{item.nome}}
                </mat-option>
            </span>
            </mat-select>
        </mat-form-field>

        <app-upload-imagem *ngIf="transf" [nomeBotao]="'Comprovante'" style="margin-left: 10px;"></app-upload-imagem>



    </div>


</div>

<div class="cv">Pagamentos</div>

<div style="height: 270px; overflow: auto;">
    <div class="itensPag" *ngFor="let item of pagamentos">
        <div class="adel">#{{ item.id }} Lançado por: {{ item.operador }} - {{ item.dia_pagamento }} </div>
        <div>Forma de pagamento: {{ item.formapagamento }}</div>
        <div> Valor pago: {{ item.valor_pagamento | currency:'BRL':true }} </div>

    </div>


</div>