<div class="row" [formGroup]="form">
    <div>
        <app-upload-imagem [imagem]="this.data.usuario.imagem" [preload]="true" [nomeBotao]="'Imagem entregador'"></app-upload-imagem>
    </div>

    <mat-form-field class="example-full-width" style="margin-top: 10px;">
        <mat-label>Email</mat-label>
        <input [value]="form.controls.email.value" matInput placeholder="Ex. email do entregador" disabled>
    </mat-form-field>

    <div style="display: grid;grid-template-columns:  1fr 1fr 1fr;">

    <mat-form-field class="example-full-width">
        <mat-label>Nome</mat-label>
        <input (keydown.enter)="salvar()" formControlName="nome" matInput placeholder="Ex. nome do entregador">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Telefone</mat-label>
        <input (keydown.enter)="salvar()" formControlName="telefone" matInput placeholder="">
    </mat-form-field>


    <mat-form-field class="example-full-width">
        <mat-label>Senha</mat-label>
        <input (keydown.enter)="salvar()" formControlName="senha" matInput placeholder="Ex. Senha do entregador">
    </mat-form-field>


    </div>

    <div style="display: grid;grid-template-columns:  1fr 1fr;">


    <mat-form-field class="example-full-width">
        <mat-label>CPF</mat-label>
        <input (keydown.enter)="salvar()" formControlName="cpf" matInput placeholder="Ex. CPF do entregador">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>RG</mat-label>
        <input (keydown.enter)="salvar()" formControlName="rg" matInput placeholder="Ex. Rg do entregador">
    </mat-form-field>

    </div>

    <!--<mat-form-field class="example-full-width">
        <mat-label>CNH</mat-label>
        <input (keydown.enter)="salvar()" formControlName="cnh" matInput placeholder="Ex. CNH do entregador">
    </mat-form-field>->-->
    <div class="style">
      <img [src]="this.data.usuario.cnh" alt="cnh" width="100%">
    <img [src]="this.data.usuario.cnhv" alt="cnh verso" width="100%">  
    </div>
    
    <!--<mat-form-field class="example-full-width">
        <mat-label>Tipo veículo</mat-label>
        <input (keydown.enter)="salvar()" formControlName="tipo_veiculo" matInput placeholder="Tipo veículo">
    </mat-form-field>-->


    <div style="display: grid;grid-template-columns:  1fr 4fr; margin-top: 25px;">


    <mat-select formControlName="tipo_veiculo">
        <mat-option value="">
               
          <span *ngIf="!data.usuario.tipo_veiculo"> Tipo veículo </span>  
          <span *ngIf="data.usuario.tipo_veiculo"> Tipo veículo - {{ data.usuario.tipo_veiculo }} </span>  
          
        </mat-option>

        <mat-option value="moto">
            Moto
        </mat-option>
        <mat-option value="carro">
            Carro
        </mat-option>
        <mat-option value="caminhao">
            Caminhão
        </mat-option>
      </mat-select>

    <mat-form-field class="example-full-width">
        <mat-label>Placa</mat-label>
        <input (keydown.enter)="salvar()" formControlName="placa" matInput placeholder="Ex. Placa do veíulo">
    </mat-form-field>

    </div>

    <div style="display: grid;grid-template-columns:  4fr 1fr;">
        <mat-form-field class="example-full-width">
            <mat-label>Rua</mat-label>
            <input (keydown.enter)="salvar()" formControlName="rua" matInput placeholder="">
        </mat-form-field>
        
        <mat-form-field class="example-full-width">
            <mat-label>Número</mat-label>
            <input (keydown.enter)="salvar()" formControlName="numero" matInput placeholder="">
        </mat-form-field>
    </div>
    

    
    <div style="display: grid;grid-template-columns:  1fr 1fr 1fr;">

    <mat-form-field class="example-full-width">
        <mat-label>Bairro</mat-label>
        <input (keydown.enter)="salvar()" formControlName="bairro" matInput placeholder="">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Cidade</mat-label>
        <input (keydown.enter)="salvar()" formControlName="cidade" matInput placeholder="">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Cep</mat-label>
        <input formControlName="cep" matInput placeholder="" (keydown.enter)="salvar()">
    </mat-form-field>

    </div>

     

    


</div>

<div style="margin-top: 10px;">
    <button mat-stroked-button color="warn" [mat-dialog-close]="false">Cancelar</button>
    <button [disabled]="tbss" style="margin-left: 10px;" mat-stroked-button color="primary" (click)="salvar()">Salvar</button>
</div>