<div class="row" [formGroup]="form">
    <div>
        <app-upload-imagem [preload]="true" [nomeBotao]="'Imagem entregador'"></app-upload-imagem>
    </div>

    <mat-form-field class="example-full-width">
        <mat-label>Nome</mat-label>
        <input formControlName="nome" matInput placeholder="Ex. nome do entregador">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput placeholder="Ex. email do entregador">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Senha</mat-label>
        <input formControlName="senha" matInput placeholder="Ex. Senha do entregador">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Telefone</mat-label>
        <input formControlName="telefone" matInput placeholder="">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>CPF</mat-label>
        <input formControlName="cpf" matInput placeholder="Ex. CPF do entregador">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>RG</mat-label>
        <input formControlName="rg" matInput placeholder="Ex. Rg do entregador">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>CNH</mat-label>
        <input formControlName="cnh" matInput placeholder="Ex. CNH do entregador">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Placa</mat-label>
        <input formControlName="placa" matInput placeholder="Ex. Placa do entregador">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Rua</mat-label>
        <input formControlName="rua" matInput placeholder="">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Número</mat-label>
        <input formControlName="numero" matInput placeholder="">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Bairro</mat-label>
        <input formControlName="bairro" matInput placeholder="">
    </mat-form-field>


    <mat-form-field class="example-full-width">
        <mat-label>Cidade</mat-label>
        <input formControlName="cidade" matInput placeholder="">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Cep</mat-label>
        <input formControlName="cep" matInput placeholder="">
    </mat-form-field>


</div>

<div style="margin-top: 10px;">
    <button mat-stroked-button color="warn" [mat-dialog-close]="false">Cancelar</button>
    <button style="margin-left: 10px;" mat-stroked-button color="primary" (click)="salvar()">Salvar</button>
</div>