<div class="piclis">
    <mat-form-field>
        <mat-label> Data início </mat-label>
        <input matInput type="date" #dfi (keydown.enter)="this.servpedidos.consultaTodosPedidos({datai: dfi.value, dataf: dff.value})">
    </mat-form-field>
    <mat-form-field class="if">
        <mat-label> Data final </mat-label>
        <input matInput type="date" #dff (keydown.enter)="this.servpedidos.consultaTodosPedidos({datai: dfi.value, dataf: dff.value})">
    </mat-form-field>

    <button mat-icon-button class="btsoncul" color="primary" (click)="this.servpedidos.consultaTodosPedidos({datai: dfi.value, dataf: dff.value})">
        <mat-icon>search</mat-icon>
      </button>

</div>
<app-tabela-pedidos [pedidos]="servpedidos.getTodosPedidos()"></app-tabela-pedidos>