<div [formGroup]="form" style="display: grid;">


    <div>
        <app-upload-imagem [preload]="true" [nomeBotao]="'Imagem item pagamento'"></app-upload-imagem>
    </div>

    <mat-form-field appearance="fill">
        <mat-label>Forma de pagamento</mat-label>
        <mat-select formControlName="id_formapagamento">
            <mat-option *ngFor="let item of formaspagamento" [value]="item.id">
                {{item.nome}}
            </mat-option>
        </mat-select>
    </mat-form-field>


    <!--<mat-form-field>
        <mat-label>Imagem</mat-label>
        <input matInput placeholder="Ex. Url da imagem" formControlName="imagem">
    </mat-form-field>-->

    <mat-form-field>
        <mat-label>Nome da forma de pagamento</mat-label>
        <input matInput placeholder="Ex. Nome" formControlName="nome">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Status</mat-label>
        <input matInput placeholder="Ex. Status" formControlName="status">
    </mat-form-field>

    <div>
        <button mat-stroked-button color="accent" [mat-dialog-close]="false">Cancelar</button>
        <button style="margin-left: 3px;" mat-flat-button color="warn" (click)="salvar()">Salvar</button>
    </div>
</div>