<span [formGroup]="form">

    <mat-toolbar>
        <span>
        Comissão por entrega
    </span>


</mat-toolbar>



<mat-form-field class="example-full-width" style="margin-left: 20px;">

    <input type="text" formControlName="nome" placeholder="Filtrar por entregador" aria-label="Number" matInput (keyup)="consultaMNome()" [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of itensOptions" [value]="option.nome">
            {{option.nome}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>



<mat-form-field class="f-cli" style="margin-top: 20px;">
    <mat-label>Data início</mat-label>
    <input matInput type="date" formControlName="datainicio">
</mat-form-field>

<mat-form-field class="f-cli" style="margin-top: 0px;">
    <mat-label>Data fim</mat-label>
    <input matInput type="date" formControlName="datafim">
</mat-form-field>


<button [disabled]="statusProg" mat-stroked-button color="primary" (click)="onClickTodos()" style="margin-left: 10px;font-size: 12px;"> Todas entregas </button>
<button [disabled]="statusProg" mat-stroked-button color="primary" (click)="onClickFPagos()" style="margin-left: 10px;font-size: 12px;"> Entregas pagas </button>
<button [disabled]="statusProg" style="margin-left: 4px;" mat-stroked-button color="primary" (click)="onClickFNPagos()" style="margin-left: 10px;font-size: 12px;"> Entregas não pagas </button>

<app-bt-exportar [nomeArquivo]="'comissaoEntregas'" [lista]="dataSource"></app-bt-exportar>

<mat-progress-bar *ngIf="statusProg" mode="query"></mat-progress-bar>
<mat-progress-bar *ngIf="!statusProg" mode="determinate" value="0"></mat-progress-bar>

<table mat-table [dataSource]="dataSource">


    <ng-container matColumnDef="c0">
        <th mat-header-cell *matHeaderCellDef> Entregador </th>
        <td mat-cell *matCellDef="let element" [style]="'background:' +  element.cor_item ">

            {{ element.entregador.nome }}

        </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="c66">
        <th mat-header-cell *matHeaderCellDef>
            Info
        </th>
        <td mat-cell *matCellDef="let element" [style]="'background:' +  element.cor_item ">
            {{ element.info }} às {{ element.horario }}
        </td>
    </ng-container>


    <ng-container matColumnDef="c1">
        <th mat-header-cell *matHeaderCellDef> Cliente </th>
        <td mat-cell *matCellDef="let element" [style]="'background:' +  element.cor_item ">

            {{ element.nome_cliente }}

        </td>
    </ng-container>

    <ng-container matColumnDef="vp">
        <th mat-header-cell *matHeaderCellDef> Valor pedido </th>
        <td mat-cell *matCellDef="let element" [style]="'background:' +  element.cor_item ">

            {{ element.valor_pedido_cliente | currency:'BRL':true }}

        </td>
    </ng-container>

    <ng-container matColumnDef="valorrec">
        <th mat-header-cell *matHeaderCellDef> Dinheiro recebido </th>
        <td mat-cell *matCellDef="let element" [style]="'background:' +  element.cor_item ">
            <span class="s" [class.ss]="element.totalFPdinheiro > 0">
                {{ element.totalFPdinheiro | currency:'BRL':true }}
            </span>
        </td>
    </ng-container>

    <ng-container matColumnDef="sdd">
        <th mat-header-cell *matHeaderCellDef> Repasse a loja </th>
        <td mat-cell *matCellDef="let element" [style]="'background:' +  element.cor_item " style="text-align:center;">

            <button *ngIf="element.status_pag_din === 'pendente'" mat-flat-button color="warn" [disabled]="true">Pendente</button>
            <button *ngIf="element.status_pag_din === 'devolver'" mat-flat-button color="primary" (click)="confirmarDevolucao(element)">Confirmar</button>
            <mat-icon *ngIf="element.status_pag_din === 'pago'">check</mat-icon>


        </td>
    </ng-container>

    <ng-container matColumnDef="c3">
        <th mat-header-cell *matHeaderCellDef> Taxa de entrega </th>
        <td mat-cell *matCellDef="let element" [style]="'background:' +  element.cor_item ">

            <mat-icon class="mat-18" style="    color: #00000085;">delivery_dining</mat-icon>
            {{ element.taxa_entrega | currency:'BRL':true}}

        </td>
    </ng-container>



    <!-- Symbol Column -->
    <ng-container matColumnDef="c5">
        <th mat-header-cell *matHeaderCellDef class="tdh">
            Pago por
        </th>
        <td mat-cell *matCellDef="let element" class="tdh">
            <span *ngIf="element.dados_despesa_operador !== '--'"> {{ element.dados_despesa_operador }}</span>

            <mat-icon *ngIf="element.dados_despesa_operador === '--'">support_agent</mat-icon>
        </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="c6">
        <th mat-header-cell *matHeaderCellDef class="tdh">
            Data pagamento
        </th>
        <td mat-cell *matCellDef="let element" class="tdh">
            <span *ngIf="element.dados_despesa_info !== '--'">  {{ element.dados_despesa_info }} </span>

            <mat-icon *ngIf="element.dados_despesa_info === '--'">date_range</mat-icon>


        </td>
    </ng-container>
    <ng-container matColumnDef="c4">
        <th mat-header-cell *matHeaderCellDef class="tdh">

        </th>
        <td mat-cell *matCellDef="let element" class="tdh">
            <button [disabled]="element.status_pago" mat-raised-button color="primary" (click)="onClickPagar(element)" [disabled]="element.status_motoboy_pago === '1'"> Pagar </button>
        </td>
    </ng-container>




    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
</table>

<app-barra-total [nome]="'Total taxas de entrega'" [valor]="total"></app-barra-total>
<app-barra-total [nome]="'Total repasse em dinheito a loja'" [valor]="totaldindev"></app-barra-total>
<app-barra-total [nome]="'Total entregador recebeu em dinheiro'" [valor]="totalfp"></app-barra-total>