<span [formGroup]="form">

    <mat-toolbar>
        <span>
        Comissão por entrega
    </span>


</mat-toolbar>



<mat-form-field class="example-full-width" style="margin-left: 20px;">
    <input type="text" formControlName="nome" placeholder="Filtrar por entregador" aria-label="Number" matInput (keyup)="consultaMNome()" [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of itensOptions" [value]="option.nome">
            {{option.nome}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>



<mat-form-field class="f-cli" style="margin-top: 20px;">
    <mat-label>Data início</mat-label>
    <input matInput type="date" formControlName="datainicio">
</mat-form-field>

<mat-form-field class="f-cli" style="margin-top: 0px;">
    <mat-label>Data fim</mat-label>
    <input matInput type="date" formControlName="datafim">
</mat-form-field>


<button mat-stroked-button color="primary" (click)="onClickTodos()" style="margin-left: 10px;"> Todos </button>
<button mat-stroked-button color="primary" (click)="onClickFPagos()" style="margin-left: 10px;"> Pagos </button>
<button style="margin-left: 4px;" mat-stroked-button color="primary" (click)="onClickFNPagos()" style="margin-left: 10px;"> Não pagos </button>

<app-bt-exportar [nomeArquivo]="'comissaoEntregas'" [lista]="dataSource"></app-bt-exportar>

<table mat-table [dataSource]="dataSource">


    <ng-container matColumnDef="c0">
        <th mat-header-cell *matHeaderCellDef> Nome entregador </th>
        <td mat-cell *matCellDef="let element">

            {{ element.entregador.nome }}

        </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="c66">
        <th mat-header-cell *matHeaderCellDef>
            Data entrega
        </th>
        <td mat-cell *matCellDef="let element">
            {{ element.info }}
        </td>
    </ng-container>


    <ng-container matColumnDef="c1">
        <th mat-header-cell *matHeaderCellDef> Referência do pedido </th>
        <td mat-cell *matCellDef="let element">

            #{{ element.id_pedido }}

        </td>
    </ng-container>

    <ng-container matColumnDef="c3">
        <th mat-header-cell *matHeaderCellDef> Taxa de entrega </th>
        <td mat-cell *matCellDef="let element">

            {{ element.taxa_entrega | currency:'BRL':true}}

        </td>
    </ng-container>

    <ng-container matColumnDef="c4">
        <th mat-header-cell *matHeaderCellDef>

        </th>
        <td mat-cell *matCellDef="let element">
            <button [disabled]="element.status_pago" mat-raised-button color="primary" (click)="onClickPagar(element)" [disabled]="element.status_motoboy_pago === '1'"> Pagar </button>
        </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="c5">
        <th mat-header-cell *matHeaderCellDef>
            Pago por
        </th>
        <td mat-cell *matCellDef="let element">
            {{ element.dados_despesa_operador }}
        </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="c6">
        <th mat-header-cell *matHeaderCellDef>
            Data pagamento
        </th>
        <td mat-cell *matCellDef="let element">
            {{ element.dados_despesa_info }}
        </td>
    </ng-container>




    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
</table>

<app-barra-total [nome]="'Total'" [valor]="total"></app-barra-total>