.mat-button {
    color: #07517d;
}

.g {
    display: grid;
    grid-template-columns: 0.3fr 4fr;
    grid-template-rows: 90.4vh;
}

.c1 {
    border-right: 1px solid gainsboro;
    background: #f7f7f7;
}

.c11 {
    position: fixed;
    margin-left: 7px;
    margin-top: 11px;
}

.c2 {
    overflow: auto;
}

@media(max-width:600px) {
    .c1 {
        border-right: 1px solid gainsboro;
        background: #f7f7f7;
        width: 64px;
    }
}