<mat-card style="margin: 5px;">


    <button [disabled]="!servapp.getStatusSistemaDelivery()" mat-button [matMenuTriggerFor]="belowMenu"> <mat-icon aria-hidden="false">settings</mat-icon> Configurações do cardápio</button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
        <button mat-menu-item routerLink="/painel/cardapio">Cardápio</button>
        <button mat-menu-item [matMenuTriggerFor]="itensadicionais" routerLink="/painel/categoriasadicionais">Categorias adicionais</button>
    </mat-menu>

    <button mat-button mat-button [matMenuTriggerFor]="usuarios"> <mat-icon>settings</mat-icon> Usuários </button>
    <mat-menu #usuarios="matMenu" yPosition="below">
        <button mat-menu-item routerLink="/painel/usuarios">Listar usuário</button>
    </mat-menu>

    <mat-menu #itensadicionais="matMenu">
        <button mat-menu-item routerLink="/painel/itensadicionais"> Itens adicionais</button>
    </mat-menu>


    <button [disabled]="!servapp.getStatusSistemaDelivery()" mat-button routerLink="/painel/avaliacoes"> <mat-icon aria-hidden="false">star</mat-icon> Avaliações</button>


    <button mat-button routerLink="/config"> <mat-icon aria-hidden="false">settings</mat-icon> Configurações painel</button>

    <button mat-button routerLink="/painel/delivery"> <mat-icon aria-hidden="false">settings</mat-icon> Configurações para funcionamento delivery</button>


</mat-card>

<router-outlet> </router-outlet>