<div [formGroup]="form">


    <div class="delsuc">

        <mat-form-field appearance="fill">
            <mat-label>Itens</mat-label>
            <mat-select formControlName="id_item_estoque">
                <mat-option *ngFor="let item of itensCatalogo" [value]="item.id">
                    #{{ item.id }} {{ item.nome }}
                </mat-option>
            </mat-select>
        </mat-form-field>


        <mat-form-field appearance="fill">
            <mat-label> Tipo entrada </mat-label>
            <mat-select formControlName="tipo_entrada">
                <mat-option value="un">
                    Unidades
                </mat-option>
                <mat-option value="ca">
                    Caixas
                </mat-option>
                <mat-option value="pa">
                    Pacotes
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div style="display: flex;">
            <mat-form-field style="width: 50%;">
                <mat-label>Quantidade</mat-label>
                <input matInput type="number" formControlName="quantidade">
            </mat-form-field>

            <!--<mat-form-field>
            <mat-label>Descrição</mat-label>
            <input matInput type="name" placeholder="Descrição do estoque" formControlName="descricao">
        </mat-form-field>-->


            <mat-form-field style="width: 50%;">
                <mat-label>Valor</mat-label>
                <input matInput type="tel" placeholder="R$0,00" formControlName="valor" mask="separator.2" thousandSeparator=".">
            </mat-form-field>
        </div>


    </div>

    <div>
        <button mat-stroked-button color="accent" [mat-dialog-close]="false">Cancelar</button>
        <button style="margin-left: 3px;" mat-flat-button color="warn" [mat-dialog-close]="form.value">Salvar</button>
    </div>
</div>