<div class="allc">

    <mat-card>
        <h1>Configurações empresa</h1>
        <p>Configurações para funcionamento delivery.</p>
    </mat-card>

    <form class="example-form" [formGroup]="formCadastro" style="margin-top: 20px;" *ngIf="formcadastroStatus === false">
        <mat-vertical-stepper [linear]="false" #stepper>

            <mat-step>
                <ng-template matStepLabel>Valores de pedidos</ng-template>

                <div class="" style="width: 100%;">
                    <mat-form-field appearance="outline">
                        <mat-label>Valor mínimo do pedido</mat-label>
                        <input matInput placeholder="Ex. R$8,00" type="text" formControlName="pedidomin" matInput mask="separator.2" thousandSeparator=".">
                        <mat-icon matSuffix>home_work</mat-icon>
                    </mat-form-field>

                    <mat-form-field appearance="outline" style="margin-left: 10px;">
                        <mat-label>Valor máximo do pedido</mat-label>
                        <input matInput placeholder="Ex. R$800,00" type="text" formControlName="pedidomax" matInput mask="separator.2" thousandSeparator=".">
                        <mat-icon matSuffix>home_work</mat-icon>
                    </mat-form-field>

                    <mat-form-field appearance="outline" style="margin-left: 10px;">
                        <mat-label>Entrega grátis</mat-label>
                        <input matInput placeholder="Ex. Para pedidos acima de R$100,00" type="text" formControlName="entrega_gratis" matInput mask="separator.2" thousandSeparator=".">
                        <mat-icon matSuffix>home_work</mat-icon>
                    </mat-form-field>

                </div>
            </mat-step>

            <mat-step>
                <ng-template matStepLabel>Tipo empresa/Tags</ng-template>

                <div class="" style="width: 100%;">
                    <mat-form-field style="width: 400px" appearance="outline">
                        <mat-label>Tags</mat-label>
                        <input matInput placeholder="Ex. hamburguer, pizza, sopa, suco" type="text" formControlName="tags">
                        <mat-icon matSuffix>home_work</mat-icon>
                    </mat-form-field>

                    <mat-form-field appearance="outline" style="margin-left: 10px;">
                        <mat-label>Tipo empresa</mat-label>
                        <input matInput placeholder="Ex. Hamburgueria, Pizzaria, Açaiteria" type="text" formControlName="seguimento">
                        <mat-icon matSuffix>home_work</mat-icon>
                    </mat-form-field>
                </div>
            </mat-step>


            <mat-step>
                <ng-template matStepLabel>Tempo entrega</ng-template>

                <div class="" style="width: 100%;">
                    <mat-form-field appearance="outline">
                        <mat-label>Estimativa de entrega</mat-label>
                        <input matInput placeholder="Ex. 45 a 75 minutos" type="text" formControlName="tempoentrega">
                        <mat-icon matSuffix>home_work</mat-icon>
                    </mat-form-field>

                    <mat-form-field appearance="outline" style="margin-left: 10px;">
                        <mat-label>Tempo para retirada</mat-label>
                        <input matInput placeholder="Ex. 45 a 75 minutos" type="text" formControlName="temporetirada">
                        <mat-icon matSuffix>time</mat-icon>
                    </mat-form-field>
                </div>
            </mat-step>


            <mat-step>
                <ng-template matStepLabel>Tipo de serviço</ng-template>

                <div style="margin-top: 10px; width: 250px;">
                    <mat-select style="width: 100%;margin-left: 1px;" formControlName="formasfuncionamento">
                        <mat-option *ngFor="let item of tipoServico; let i = index" [value]="tipoServico[i]">
                            {{ tipoServico[i].nome }}
                        </mat-option>
                    </mat-select>
                </div>
            </mat-step>

            <mat-step formArrayName="metodosPagamento">
                <ng-template matStepLabel>Metodos de pagamento</ng-template>

                <div style="width: 100%;
                margin-bottom: 10px;
                background: #efefef;
                border: 1px solid #d4d4d4;
                border-radius: 10px;
                padding: 10px;" [formGroupName]="i" [formGroupName]="i" *ngFor="let item of formCadastro.get('metodosPagamento')['controls']; let i = index">
                    <mat-slide-toggle color="primary" formControlName="disponivel" [matTooltip]="item.value.descricao">
                        <!--{{ item.value | json }}-->{{item.value.nome}} </mat-slide-toggle>

                    <span formArrayName="itens">
          <span [formGroupName]="a" *ngFor="let cartao of item.controls.itens.controls; let a = index">
            <div class="itensCard">
              <!--{{ cartao.value | json }}--> <img width="40" [src]="cartao.value.imagem"> {{ cartao.value.nome }} <mat-slide-toggle color="primary" formControlName="disponivel"></mat-slide-toggle>
            </div>
          </span>
                    </span>


                </div>

            </mat-step>

            <mat-step formArrayName="hrfun">
                <ng-template matStepLabel>Dias e horários de funcionamento</ng-template>

                <div style="width: 100%;" *ngFor="let item of formCadastro.get('hrfun')['controls']; let i = index">
                    <div [formGroupName]="i">
                        <div class="nomed" style="width: 400px;">
                            <!--{{ item.value | json }}-->
                            <mat-slide-toggle color="primary" formControlName="status"> {{ item.value.nome }} </mat-slide-toggle>
                        </div>


                        <mat-form-field style="margin-left: 5px;width: 150px;" appearance="outline">
                            <mat-label>Abre</mat-label>
                            <input matInput placeholder="Ex. 18:30" type="time" formControlName="abre">
                            <mat-icon matSuffix>home_work</mat-icon>
                        </mat-form-field>

                        <mat-form-field style="margin-left: 5px; width: 150px;" appearance="outline">
                            <mat-label>Fecha</mat-label>
                            <input matInput placeholder="Ex. 00:00" type="time" formControlName="fecha">
                            <mat-icon matSuffix>home_work</mat-icon>
                        </mat-form-field>
                    </div>
                </div>


            </mat-step>

            <mat-step formArrayName="locaisEntrega">
                <ng-template matStepLabel>Cidades de entrega</ng-template>

                <span [formGroupName]="i" *ngFor="let item of formCadastro.get('locaisEntrega')['controls']; let i = index">

          <div class="" style="width: 100%;margin-bottom: 10px;">
            <mat-slide-toggle color="primary" formControlName="disponivel"> {{ item.value.nome }} </mat-slide-toggle>
          </div>

        </span>

            </mat-step>

            <mat-step formArrayName="locaisEntrega">
                <ng-template matStepLabel>Bairros</ng-template>

                <div style="width: 100%;">
                    <mat-radio-group>
                        <!--{{ cidadeSelecionada }}-->
                        <span *ngFor="let item of dadosEmpresa.locais_entrega">
              <mat-radio-button style="margin-left: 18px;" [value]="item" (click)="onClickSelecionarCidadeFiltro(item)">
                {{ item.nome }} </mat-radio-button>
            </span>
                    </mat-radio-group>
                </div>


                <span [formGroupName]="i" *ngFor="let item of formCadastro.get('locaisEntrega')['controls']; let i = index">
          <div class="s" style="width: 100%;">

            <span formArrayName="bairros">
              <span [formGroupName]="b" *ngFor="let bairro of item.controls.bairros.controls; let b = index">

                <div class="" style="width: 100%;" *ngIf="bairro.value.cidade_id === cidadeSelecionada">
                  <!--{{ bairro.value | json }}-->
                  <mat-slide-toggle color="primary" style="width: 300px;" formControlName="disponivel"
                    matTooltip="{{bairro.value.nome}} - Taxa de entrega {{bairro.value.taxa | currency:'BRL':true}}">
                    {{ bairro.value.nome }}
                  </mat-slide-toggle>
                  <mat-form-field style="margin-left: 5px;width: 150px;" appearance="outline">
                    <mat-label>Taxa entrega</mat-label>
                    <input matInput placeholder="Ex. R$10,00" type="text" formControlName="taxa" matInput mask="separator.2" thousandSeparator=",">
                    <mat-icon matSuffix>home_work</mat-icon>
                  </mat-form-field>

                </div>

              </span>
                </span>


</div>
</span>

</mat-step>



<mat-step>
    <ng-template matStepLabel>Salvar configurações</ng-template>
    <button style="width: 100%;" mat-raised-button color="warn" (click)="onclickCadastrar()">Salvar</button>
</mat-step>



</mat-vertical-stepper>


</form>

<mat-card style="background-color: #6d6d6d;
color: white;
margin-top: 20px;" *ngIf="formcadastroStatus === true">
    <h1> As configurações foram salvas! </h1>
    <p>
        <button mat-raised-button color="primary" routerLink="/painel">Ok</button>
    </p>
</mat-card>

</div>