<mat-toolbar>
    <span>
    Notificações
  </span>
</mat-toolbar>
<div style="padding: 10px;">
    <span *ngFor="let item of servico.getListaNotificacoes()">
    <mat-card style="margin-top: 2px;">
      <div style="width: 100%;font-size: 11px;color: rgb(151, 148, 148);">
       <button mat-icon-button color="primary" (click)="onClickRem(item)">
           <mat-icon class="mat-18">delete</mat-icon>
       </button> 
       {{item.info}}
      </div>
      <div style="width: 100%;" [innerHTML]="item.texto" ></div>
    </mat-card>
  </span>
</div>