.c1 {
    color: rgb(85, 85, 85);
    font-size: 11px;
}

.c4 {
    border-top: 1px solid #ffe500;
    margin-top: 20px;
    padding-top: 15px;
    background: #f9f5d4;
    padding: 10px;
}

.c11 {
    font-size: 11px;
    color: rgb(169, 169, 169);
}

.c1 {}