<table mat-table [dataSource]="dataSource">




    <!-- Name Column -->
    <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
    </ng-container>


    <!-- Name Column -->
    <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef> Descrição </th>
        <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="quantidade">
        <th mat-header-cell *matHeaderCellDef> Quantidade </th>
        <td mat-cell *matCellDef="let element"> {{element.quantidade}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef> Valor </th>
        <td mat-cell *matCellDef="let element"> {{element.valor | currency:'BRL':true}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="info">
        <th mat-header-cell *matHeaderCellDef> Data criado </th>
        <td mat-cell *matCellDef="let element"> {{element.info}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="adicionar">
        <th mat-header-cell *matHeaderCellDef>

            <button mat-icon-button (click)="add()">
                <mat-icon class="mat-18">add</mat-icon>
            </button>

        </th>
        <td mat-cell *matCellDef="let element">

            <button matTooltip="Enviar estoque ao motoboy" mat-icon-button (click)="enviarNovoEstoque(element)">
                <mat-icon class="mat-18">send</mat-icon>
            </button>

        </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="sub">
        <th mat-header-cell *matHeaderCellDef> Retirar </th>
        <td mat-cell *matCellDef="let element">

            <button matTooltip="Remover estoque da loja" *ngIf="element.quantidade === '0'" mat-icon-button (click)="desabilitarEstoqueLoja(element)">
                <mat-icon class="mat-18">delete</mat-icon>
            </button>

            <button matTooltip="Remover únidades de estoque" *ngIf="element.quantidade > 0" mat-icon-button (click)="retirarEstoqueLoja(element)">
                <mat-icon class="mat-18">undo</mat-icon>
            </button>

        </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="editar">
        <th mat-header-cell *matHeaderCellDef> Editar </th>
        <td mat-cell *matCellDef="let element">

            <button matTooltip="Editar estoque" mat-icon-button (click)="editar(element)">
                <mat-icon matTooltip="Editar estoque" class="mat-18">edit</mat-icon>
            </button>

        </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="remover">
        <th mat-header-cell *matHeaderCellDef> Repor </th>
        <td mat-cell *matCellDef="let element">

            <button matTooltip="Adicionar únidades de estoque" mat-icon-button (click)="reporEstoqueLoja(element)">
                <mat-icon class="mat-18">add</mat-icon>
            </button>

        </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
</table>