<mat-toolbar>
    <span>Usuários app</span>
</mat-toolbar>

<div>

    <table mat-table [dataSource]="itens">


        <ng-container matColumnDef="op">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="accent" [matMenuTriggerFor]="menu" (click)="onClickItem(element)">
                    <mat-icon>menu</mat-icon>
                  </button>
                <!--<img [lazyLoad]="element.imagem" width="50px">-->
                <mat-menu #menu="matMenu">
                    <button mat-menu-item *ngIf="element.status_conta === 'ativo'" (click)="enviarCupom(element)">Enviar cupom</button>
                    <button mat-menu-item *ngIf="element.status_conta === 'ativo'">Adicionar endereço</button>
                </mat-menu>

            </td>
        </ng-container>

        <ng-container matColumnDef="op2">
            <th mat-header-cell *matHeaderCellDef> Nome. </th>
            <td mat-cell *matCellDef="let element">

                {{element.nome}} {{element.sobrenome}} ( {{element.status_conta}} )

            </td>
        </ng-container>

        <ng-container matColumnDef="c1">
            <th mat-header-cell *matHeaderCellDef> Telefone. </th>
            <td mat-cell *matCellDef="let element">
                {{element.telefone}}
            </td>
        </ng-container>

        <ng-container matColumnDef="c2">
            <th mat-header-cell *matHeaderCellDef> Email. </th>
            <td mat-cell *matCellDef="let element">
                {{element.email}}
                <br> {{element.datanascimento}}
            </td>
        </ng-container>

        <ng-container matColumnDef="c3">
            <th mat-header-cell *matHeaderCellDef> Info. </th>
            <td mat-cell *matCellDef="let element">
                Data cadastro: {{element.info}}
                <br> Último acesso: {{element.ultimoacesso}}
            </td>
        </ng-container>



        <ng-container matColumnDef="add">
            <th mat-header-cell *matHeaderCellDef>

            </th>
            <td mat-cell *matCellDef="let element">



            </td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>