<mat-toolbar>
    <span>Usuários app</span>
</mat-toolbar>


<app-barra-total [nome]="'Qtd. clientes loja'" [valor]="qntusuariosLOJA" [naomostrarReal]="true"></app-barra-total>
<app-barra-total [nome]="'Qtd. clientes site'" [valor]="qntusuarios" [naomostrarReal]="true"></app-barra-total>
<app-barra-total [nome]="'Total'" [valor]="qntusuariostotal" [naomostrarReal]="true"></app-barra-total>

<div style="padding: 10px;">
    <mat-form-field class="example-full-width">
        <mat-label> Filtrar usuários cadastrados pelo site </mat-label>
        <input matInput placeholder="Nome do usuário" #nomeus>
    </mat-form-field>

</div>

<div>

    <table mat-table [dataSource]="itens | nomes:nomeus.value">


        <ng-container matColumnDef="op">
            <th mat-header-cell *matHeaderCellDef> Clientes site </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="accent" [matMenuTriggerFor]="menu" (click)="onClickItem(element)">
                    <mat-icon>menu</mat-icon>
                  </button>
                <!--<img [lazyLoad]="element.imagem" width="50px">-->
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="classificar(element, 'diamante')">Mudar para diamante</button>
                    <button mat-menu-item (click)="classificar(element, 'ouro')">Mudar para ouro</button>
                    <button mat-menu-item (click)="classificar(element, 'prata')">Mudar para prata</button>
                    <button mat-menu-item (click)="classificar(element, 'bronze')">Mudar para bronze</button>
                    <button mat-menu-item *ngIf="element.status_conta === 'ativo'" (click)="enviarCupom(element)">Enviar cupom</button>
                </mat-menu>

            </td>
        </ng-container>

        <ng-container matColumnDef="op2">
            <th mat-header-cell *matHeaderCellDef> Nome. </th>
            <td mat-cell *matCellDef="let element">

                {{element.nome}} {{element.sobrenome}}
                <mat-icon *ngIf="element.status_conta === 'pendente_confirmacao'" class="mat-18">info</mat-icon>
                <mat-icon *ngIf="element.status_conta === 'ativo'" class="mat-18">check</mat-icon>

            </td>
        </ng-container>

        <ng-container matColumnDef="tipo">
            <th mat-header-cell *matHeaderCellDef> Classificação. </th>
            <td mat-cell *matCellDef="let element">
                {{element.tipo}}
            </td>
        </ng-container>

        <ng-container matColumnDef="c1">
            <th mat-header-cell *matHeaderCellDef> Telefone. </th>
            <td mat-cell *matCellDef="let element">
                {{element.telefone}}
            </td>
        </ng-container>

        <ng-container matColumnDef="c2">
            <th mat-header-cell *matHeaderCellDef> Email. </th>
            <td mat-cell *matCellDef="let element">
                {{element.email}}
                <br> {{element.datanascimento}}
            </td>
        </ng-container>

        <ng-container matColumnDef="c3">
            <th mat-header-cell *matHeaderCellDef> Info. </th>
            <td mat-cell *matCellDef="let element">
                Data cadastro: {{element.info}}
                <br> Último acesso: {{element.ultimoacesso}}
            </td>
        </ng-container>



        <ng-container matColumnDef="add">
            <th mat-header-cell *matHeaderCellDef>

            </th>
            <td mat-cell *matCellDef="let element">



            </td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>