<div>
    <div class="i">Total pedido: {{ servcard.getTotalCarrinho() | currency:'BRL':true }} </div>
    <div class="u">Falta: {{ servcard.getTotalFP() - servcard.getTotalCarrinho() | currency:'BRL':true }} </div>
    <mat-form-field class="example-full-width">
        <mat-label> Valor a pagar </mat-label>
        <input matInput placeholder="R$0,00" #valor type="number" (keydown.enter)="onClickConfirmar(valor.value)">
    </mat-form-field>
</div>


<div style="text-align: center;">
    <button mat-flat-button color="warn" (click)="onClickConfirmar(valor.value)"> Confimar </button>
</div>