<div class="gii">

    <button [disabled]="statusCaixaFechado" mat-raised-button color="primary" style="margin: 10px;" (click)="abrirCaixa()">
        <mat-icon>all_inbox</mat-icon> Abrir caixa
    </button>

    <button [disabled]="!statusCaixaFechado" mat-raised-button color="warn" style="margin: 10px;" (click)="lancarCaixa()">
        <mat-icon>close_fullscreen</mat-icon> Fechar caixa
    </button>

    <div *ngIf="statusCaixaFechado && operador" style="display: grid;
    align-items: center;
    background: #e0ecec;
    padding: 10px;
    color: #5d5d5d;
    border-radius: 4px;
    margin: 7px;">
        Caixa aberto por {{ operador }} {{ dataCaixaAberto }} às {{ horaCaixaAberto }}
    </div>

    <!--<div *ngIf="!statusCaixaFechado" style="display: grid;
    align-items: center;
    background: #e0ecec;
    padding: 10px;
    color: #5d5d5d;
    border-radius: 4px;
    margin: 7px;">
        Caixa fechado {{ operadorFechou }} {{ dataCaixaFechado }} às {{ horaCaixaFechado }}
    </div>-->

</div>

<table mat-table [dataSource]="dataSource">


    <ng-container matColumnDef="c0">
        <th mat-header-cell *matHeaderCellDef class="ccs"> Tipos de pagamentos </th>
        <td mat-cell *matCellDef="let element">

            {{ element.nome }}

        </td>
    </ng-container>

    <ng-container matColumnDef="c1">
        <th mat-header-cell *matHeaderCellDef class="ccs"> Total: {{ totalPagamento | currency:'BRL':true }} </th>
        <td mat-cell *matCellDef="let element">

            {{ element.total | currency:'BRL':true}}

        </td>
    </ng-container>

    <ng-container matColumnDef="c2">
        <th mat-header-cell *matHeaderCellDef class="ccs"> </th>
        <td mat-cell *matCellDef="let element"> <span style="color:rgb(95 95 95);">Confirme o valor:</span> </td>
    </ng-container>

    <ng-container matColumnDef="c3">
        <th mat-header-cell *matHeaderCellDef class="ccs"> Valor: {{ getTotalValores() | currency:'BRL':true }} </th>
        <td mat-cell *matCellDef="let element">

            <mat-form-field color="primary" appearance="outline" style="margin-top: 10px;">
                <mat-label color="primary">Valor</mat-label>
                <input matInput placeholder="R$0,00" type="number" [(ngModel)]="element.valor" [value]="element.valor">
            </mat-form-field>

        </td>
    </ng-container>

    <ng-container matColumnDef="c4">
        <th mat-header-cell *matHeaderCellDef class="ccs">
            Diferença: {{ getTotalDiferenca() | currency:'BRL':true }}
        </th>
        <td mat-cell *matCellDef="let element">
            <span style="color:red"> {{ element.valor - element.total | currency:'BRL':true}} </span>
        </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    <tr>?</tr>
</table>