<div class="g">
    <div class="col1">

        <mat-form-field class="f-cli" style="margin-left: 15px;">
            <mat-label>Nome entregador</mat-label>
            <input matInput type="name" #nomeEnt>
        </mat-form-field>



        <table mat-table [dataSource]="dataSource | nomes:nomeEnt.value">

            <!-- Symbol Column -->
            <ng-container matColumnDef="motoboy">
                <th mat-header-cell *matHeaderCellDef> Lista de entregadores </th>
                <td [class.m_selecionado]="element.id == servestm.getIdMotoboy()" mat-cell *matCellDef="let element" (click)="estoqueMotoboy(element)">

                    <span [class.m_selecionado]="element.id == servestm.getIdMotoboy()"> {{ element.nome }} </span>

                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
        </table>

    </div>

    <div class="col2">


        <app-estoque-motoboy></app-estoque-motoboy>
    </div>

</div>