<mat-nav-list *ngIf="servcard.getTipoSheet() === 'formapagamento'">

    <span *ngFor="let item of servico.getDadosEmpresa().formaspagamento">
        <a mat-list-item (click)="openDialog(item)" *ngIf="item.disponivel" [disabled]="item.nome === 'Crédito' && this.servcard.getCarrinho().credito === 0">
            <span mat-line>
                
                 {{ item.nome }} 
                 <span class="cd" *ngIf="this.servcard.getCarrinho().credito > 0 && item.nome === 'Crédito'">  {{ this.servcard.getCarrinho().credito |currency:'BRL'}} </span>
                 <span class="in" *ngIf="this.servcard.getCarrinho().credito === 0 && item.nome === 'Crédito'">  {{ this.servcard.getCarrinho().credito |currency:'BRL'}} </span>

            </span>
    <span mat-line> 
          {{ item.descricao }} 
         
         </span>
         <br>
    </a>

    </span>

</mat-nav-list>

<mat-nav-list *ngIf=" servcard.getTipoSheet()==='canalpedido' ">

    <a *ngFor="let item of servico.getDadosEmpresa().canais_venda" mat-list-item (click)="servcard.setOrigemPedido(item.nome)">
        <span mat-line> {{ item.nome }} </span>
        <span mat-line> {{ item.descricao }} </span>
    </a>

</mat-nav-list>

<mat-nav-list *ngIf="servcard.getTipoSheet()==='tipopedido' ">

    <a mat-list-item (click)="servcard.onclickEntregaTipo() ">
        <span mat-line>Entrega</span>
        <span mat-line>O cliente quer que envie o pedido</span>
    </a>

    <a mat-list-item (click)="servcard.onclickRetiradaTipo() ">
        <span mat-line>Retirada</span>
        <span mat-line>O cliente irá retirar o pedido no estabelecimento</span>

    </a>

</mat-nav-list>