<div class="loader" *ngIf="statusLoadConteudo"></div>

<div class="all" *ngIf="!statusLoadConteudo" [formGroup]="form">
    <div *ngIf="mostrarJanelaG">
        <app-galeriaimagens (fcallb)="onfcalldelsuc($event)" [item]="itemGaleriaSub"></app-galeriaimagens>
    </div>

    <div class="conteudo2">

        <mat-card class="imagem-card">

            <button *ngIf="servapp.subimgs" color="warn" mat-icon-button style="position: absolute;" (click)="addCaixaSubImg()">
                <mat-icon>add</mat-icon>
            </button>

            <img mat-card-image [defaultImage]="servapp.getDefaultImage()" [lazyLoad]="imagem" offset="100">
            <mat-card-content>

            </mat-card-content>
            <mat-card-actions>
                <form id="form1">
                    <input style="display: none;" type='file' id="imgInpPROD" (change)="inputFile($event)" />
                    <button color="primary" mat-button (click)="onClickImagemSelecionar()">Selecionar imagem</button>

                </form>
            </mat-card-actions>
        </mat-card>

        <button style="width: 99%;" mat-raised-button (click)="removerItem(this.servhome.getItem().id)" *ngIf="this.servhome.getTipoAcao()">
            <mat-icon color="warn">restore_from_trash</mat-icon> Remover item
        </button>



    </div>

    <div class="conteudo">



        <!--Tabela-->
        <div class="area-form" style="margin-top: 0px;">
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Dados do item
                        </mat-panel-title>
                        <mat-panel-description>
                            <!--Currently I am {{panelOpenState ? 'open' : 'closed'}}-->
                        </mat-panel-description>
                    </mat-expansion-panel-header>


                    <mat-form-field appearance="outline" class="snome">
                        <mat-label>Nome do item</mat-label>
                        <input formControlName="nome" matInput placeholder="Ex. Nome do item" type="text">
                        <mat-hint></mat-hint>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="spreco">
                        <mat-label>Preço</mat-label>
                        <input formControlName="preco" matInput placeholder="R$0.00" currencyMask type="tel">

                    </mat-form-field>

                    <div class="area-form">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>Descrição</mat-label>
                            <input formControlName="descricao" matInput placeholder="Ex. Descrição do item" type="text">
                            <mat-hint></mat-hint>
                        </mat-form-field>
                    </div>

                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <!--Tabela-->


        <div class="iagod">
            <!--Tabela-->
            <div class="area-form disparea">
                <!--<h2>Extras</h2>-->
                <mat-accordion>
                    <mat-expansion-panel (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Esgotar/Esconder
                            </mat-panel-title>
                            <mat-panel-description>
                                <!--Currently I am {{panelOpenState ? 'open' : 'closed'}}-->
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <mat-list role="list">
                            <mat-list-item role="listitem">
                                <mat-slide-toggle formControlName="esconder">Esconder</mat-slide-toggle>
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <mat-slide-toggle formControlName="esgotado">Esgotado</mat-slide-toggle>
                            </mat-list-item>
                        </mat-list>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
            <!--Tabela-->

            <!--Tabela-->
            <div class="area-form disparea">
                <!--h2>Disponibilidade</h2>-->
                <mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Disponibilidade
                            </mat-panel-title>
                            <mat-panel-description>

                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <mat-list>

                            <mat-list-item formArrayName="disponibilidade" *ngFor="let item of form.get('disponibilidade')['controls']; let i = index">
                                <mat-slide-toggle (change)="onClickDiaDisponivel($event, diasLista[i])" [checked]="diasLista[i].status">
                                    {{ diasLista[i].nome }}
                                    <!--{{ diasLista[i] | json }}-->
                                    <!--:: {{ diasLista[i].status }}-->
                                </mat-slide-toggle>
                            </mat-list-item>
                        </mat-list>

                    </mat-expansion-panel>

                </mat-accordion>
            </div>
            <!--Tabela-->
        </div>


        <!--Tabela-->
        <div class="area-form">
            <h2>Adicionais</h2>
            <span formArrayName="categoriaadicional" *ngFor="let item of form.get('categoriaadicional')['controls']; let i = index">

                <mat-accordion>
                    <mat-expansion-panel style="margin-top: 2px;" (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{ catsEAdcs[i].nome }}
                                <span *ngIf="!catsEAdcs[i].disponivel" class="spanDispo">INDISPONIVEL</span>
            </mat-panel-title>

            <mat-panel-description>

            </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-list>
                <mat-list-item>

                    <!-- {{ catsEAdcs[i].obrigatorio }} -->
                    <mat-slide-toggle color="primary" [checked]="catsEAdcs[i].obrigatorio" (change)="onClickObrigatorio($event, catsEAdcs[i])">
                        Obrigatório
                    </mat-slide-toggle>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>

                    <mat-slide-toggle color="primary" [checked]="catsEAdcs[i].prevalecer_preco" (change)="onClickPrevPreco($event, catsEAdcs[i])">
                        Prevalecer maior preço
                        <!--{{ catsEAdcs[i].prevalecer_preco }}-->
                    </mat-slide-toggle>
                </mat-list-item>
            </mat-list>
            <mat-divider></mat-divider>

            <mat-list>
                <span>
                                <mat-list-item *ngFor="let adicional of catsEAdcs[i].itens; let x = index">
                                    <mat-slide-toggle color="warn" (change)="onClickAdicional($event, adicional)"
                                        [checked]="adicional.status">
                                        <div> {{ adicional.nome }} </div>
                                        <div style="font-size: 12px;"> {{ adicional.preco | currency:'BRL':true }}
                                        </div>
                                        <!--{{ adicional.status }}-->
                                    </mat-slide-toggle>
                                    <mat-divider></mat-divider>
                                </mat-list-item>
                            </span>
                <span>
                                <!--<mat-list-item>
                    Nenhum adicional desta categoria foi criado
                </mat-list-item>-->
                            </span>

            </mat-list>


            </mat-expansion-panel>
            </mat-accordion>

            </span>

        </div>
        <!--Tabela-->


    </div>

    <div class="conteudo3">
        <!--Tabela-->
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Categoria catálogo
                    </mat-panel-title>
                    <mat-panel-description>

                    </mat-panel-description>
                </mat-expansion-panel-header>

                <mat-list>
                    <mat-list-item formArrayName="categoria" *ngFor="let item of form.get('categoria')['controls']; let i = index">
                        <mat-slide-toggle (change)="onClickCategoria($event, categoriasCatalogo[i])" [checked]="categoriasCatalogo[i].status">
                            {{ categoriasCatalogo[i].nome }}
                            <!---- {{categoriasCatalogo[i].status}} -->
                        </mat-slide-toggle>
                    </mat-list-item>
                </mat-list>

            </mat-expansion-panel>

        </mat-accordion>
        <!--Tabela-->

        <!--Tabela-->
        <mat-accordion style="margin-top: 10px;">



            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" style="margin-top: 10px;">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Controle de estoque


                    </mat-panel-title>
                    <mat-panel-description>

                    </mat-panel-description>
                </mat-expansion-panel-header>

                <mat-list>

                    <mat-list-item>
                        <mat-slide-toggle (change)="onClickItemRelacionado($event, form.controls.statusEstoqueRelacionado.value)" [checked]="form.controls.statusEstoqueRelacionado.value"> Estoque relacionado
                        </mat-slide-toggle>
                    </mat-list-item>

                    <mat-list-item style="margin-top: 10px;" *ngIf="form.controls.statusEstoqueRelacionado.value">
                        <mat-form-field appearance="fill">
                            <mat-label>
                                <span *ngIf="form.controls.itemEstoqueRelacionado.value"> Relacionado com: {{
                                    form.controls.itemEstoqueRelacionado.value }} </span>
                                <span *ngIf="!form.controls.itemEstoqueRelacionado.value"> Relacionar </span>
                            </mat-label>
                            <mat-select>
                                <mat-optgroup *ngFor="let categoria of this.servhome.getCardapio(); let i = index" [label]="categoria.nome">
                                    <mat-option *ngFor="let produto of categoria.itens" [value]="produto.nome" (click)="selecionarOpt(produto)">
                                        #{{produto.id}} {{produto.nome}}
                                    </mat-option>
                                </mat-optgroup>
                            </mat-select>
                        </mat-form-field>
                    </mat-list-item>

                    <mat-list-item style="margin-top: 30px;" *ngIf="!form.controls.statusEstoqueRelacionado.value">



                        <mat-form-field appearance="outline">
                            <mat-label>Estoque mínimo</mat-label>
                            <input matInput placeholder="Ex. Quantidade mínimo estoque" type="number" formControlName="estoque_mim">
                            <mat-hint></mat-hint>
                        </mat-form-field>


                    </mat-list-item>

                    <mat-list-item style="margin-top: 29px;" *ngIf="!form.controls.statusEstoqueRelacionado.value">


                        <mat-form-field appearance="outline">
                            <mat-label>Estoque médio</mat-label>
                            <input matInput placeholder="Ex. Quantidade médio estoque" type="number" formControlName="estoque_med">
                            <mat-hint></mat-hint>
                        </mat-form-field>

                    </mat-list-item>

                    <mat-list-item style="margin-top: 29px;">


                        <mat-form-field appearance="outline">
                            <mat-label>Qtd. de retirada do estoque</mat-label>
                            <input title="Quantidade de unidades que será retirado por saida" matInput placeholder="Quantidade" type="number" formControlName="quantidade_retira">
                            <mat-hint></mat-hint>
                        </mat-form-field>

                    </mat-list-item>

                    <mat-list-item style="margin-top: 29px;" *ngIf="!form.controls.statusEstoqueRelacionado.value">

                        <mat-form-field appearance="outline">
                            <mat-label> Unidades caixa </mat-label>
                            <input title="Quantidade de unidades que vem em uma caixa" matInput placeholder="Quantidade" type="number" formControlName="un_caixa">
                            <mat-hint></mat-hint>
                        </mat-form-field>

                    </mat-list-item>

                    <mat-list-item style="margin-top: 29px;" *ngIf="!form.controls.statusEstoqueRelacionado.value">

                        <mat-form-field appearance="outline">
                            <mat-label> Unidades pacote </mat-label>
                            <input title="Quantidade de unidades de caixas quem vem em um pacote" matInput placeholder="Quantidade" type="number" formControlName="un_caixa_pacote">
                            <mat-hint></mat-hint>
                        </mat-form-field>

                    </mat-list-item>

                </mat-list>

            </mat-expansion-panel>

        </mat-accordion>
        <!--Tabela-->

        <div class="csubim" *ngFor="let subimg of imagensProduto">

            <button (click)="selecionarSUBIMG(subimg)" color="primary" mat-button>Selecionar subimagem</button>

            <button color="warn" mat-icon-button (click)="rmCaixaimg(subimg)">
                <mat-icon>delete</mat-icon>
            </button>
            <div class="imgsuvitensItem" [lazyLoad]="subimg.imagem"></div>
        </div>

    </div>

</div>

<div *ngIf="statusjanela" class="areaqr">
    <div class="fgds">
        <button class="bbbclos" (click)="buttonShowQR()" mat-icon-button>
            <mat-icon style="color: white;">close</mat-icon>
        </button>
    </div>
    <qrcode [qrdata]="urlqr" [width]="300" [errorCorrectionLevel]="'M'"></qrcode>
</div>

<div class="barraOpcs" *ngIf="!statusLoadConteudo">
    <div>

    </div>
    <div style="text-align: right;" *ngIf="servapp.btQrcode">
        <button color="primary" mat-icon-button style="position: absolute;" (click)="buttonShowQR()">
            <mat-icon>qr_code_scanner</mat-icon>
        </button>
    </div>
    <div>
        <button (click)="onClickCancelar()" color="warn" mat-button style="margin-right: 5px;">Cancelar</button>
        <button (click)="onClickAddItem()" mat-flat-button color="primary" style="margin-right: 20px;">Salvar</button>
    </div>


</div>