.barraOpcs {
    background-color: white;
    float: left;
    height: 45px;
    width: 100%;
    padding-top: 13px;
    border-top: 1px solid #e0dcdc;
    text-align: end;
}

.area-form {
    margin-top: 10px;
}

.conteudo2 {
    width: 20%;
    float: left;
    margin-left: 5px;
}

.conteudo {
    width: 50%;
    margin: auto;
    float: left;
    margin-left: 5px;
}

.conteudo3 {
    width: 27%;
    margin: auto;
    float: left;
    margin-left: 5px;
    float: left;
}

.guin {
    font-weight: 500;
    color: #e91e63;
}

.imgitem {
    width: 60px;
    height: 60px;
    background: #d2cfcf;
    border-radius: 3px;
}

.all {
    padding: 15px;
    float: left;
    height: 77vh;
    overflow: auto;
}

.imagemItem {
    max-width: 100%;
    min-width: 100%;
}

.imagem-card {
    margin-bottom: 10px;
    text-align: center;
}

.loader {
    width: 93%;
    height: 90.4vh;
    background: #3f51b53d;
    position: absolute;
    z-index: 1;
    /* background-image: url(loading.gif); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;
}

.spanDispo {
    background-color: rgb(249 4 4);
    padding: 3px;
    border-radius: 7px;
    color: white;
    font-size: 12px;
}

.csubim {
    background: white;
    padding: 12px;
    text-align: inherit;
    border: 1px solid #e0d3d3;
    margin-top: 10px;
    text-align: center;
    border-radius: 3px;
}

.imgsuvitensItem {
    height: 200px;
    width: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;
}