<table mat-table [dataSource]="dataSource">


    <!-- Name Column -->
    <ng-container matColumnDef="c0">
        <th mat-header-cell *matHeaderCellDef> Referência </th>
        <td mat-cell *matCellDef="let element">

            <span> {{element.id}} </span>

        </td>
    </ng-container>


    <!-- Name Column -->
    <ng-container matColumnDef="c1">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let element">

            <span [class.rem_true]="element.removido"> {{element.nome}} </span>

        </td>
    </ng-container>


    <!-- Name Column -->
    <ng-container matColumnDef="c2">
        <th mat-header-cell *matHeaderCellDef> Descrição </th>
        <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="c3">
        <th mat-header-cell *matHeaderCellDef> Quantidade </th>
        <td mat-cell *matCellDef="let element"> {{element.quantidade}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="c4">
        <th mat-header-cell *matHeaderCellDef>
            Valor compra
        </th>
        <td mat-cell *matCellDef="let element">
            {{element.valor | currency:'BRL':true}}
        </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="c5">
        <th mat-header-cell *matHeaderCellDef>
            Total
        </th>
        <td mat-cell *matCellDef="let element">
            {{element.total | currency:'BRL':true}}
        </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="c6">
        <th mat-header-cell *matHeaderCellDef>

            Data entrada

        </th>
        <td mat-cell *matCellDef="let element">

            {{element.info}}

        </td>
    </ng-container>


    <!-- Symbol Column -->
    <ng-container matColumnDef="c7">
        <th mat-header-cell *matHeaderCellDef>
            <button matTooltip="Adicionar únidades de estoque" mat-icon-button>
                <mat-icon class="mat-18">print</mat-icon>
            </button>
        </th>
        <td mat-cell *matCellDef="let element">

            <button matTooltip="Adicionar únidades de estoque" mat-icon-button>
                <mat-icon class="mat-18">delete</mat-icon>
            </button>

        </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
</table>