<div [formGroup]="form" style="text-align: center;">

    <!--<mat-form-field class="example-full-width">
        <mat-label>Data</mat-label>
        <input matInput type="date" formControlName="data">
    </mat-form-field>-->

    <!--<mat-form-field class="example-full-width">
        <mat-label>Pago por quem</mat-label>
        <input matInput placeholder="Nome" formControlName="operador">
    </mat-form-field>-->
    Deseja confirmar o pagamento?

    <div style="margin-top: 20px;">
        <button mat-button [mat-dialog-close]="false">Cancelar</button>
        <button mat-flat-button color="warn" style="margin-left: 10px;" (click)="onClickPagar()">Confirmar</button>
    </div>

</div>