.itemSelecionado {
    background-color: gold;
}

.item:hover {
    background-color: rgb(225, 225, 225);
}

.guinho {
    padding: 5px;
    border-radius: 3px;
    background: #3F51B5;
    margin-bottom: 5px;
    text-align: center;
    font-size: 11px;
    color: white;
}