<mat-slide-toggle color="warn" [(ngModel)]="isChecked" (click)="onClickTipo()"> Ticket </mat-slide-toggle>

<div [formGroup]="form">


    <div class="delsuc">

        <mat-form-field style="display: none;">
            <mat-label>tipo</mat-label>
            <input matInput placeholder="ticket/cupom" formControlName="tipo">
        </mat-form-field>

        <mat-form-field *ngIf="isChecked">
            <mat-label>Código do cupom</mat-label>
            <input matInput placeholder="*****" formControlName="codigo">
        </mat-form-field>

        <mat-form-field *ngIf="isChecked">
            <mat-label> Quantidade </mat-label>
            <input matInput placeholder="1" formControlName="quantidade_max">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Título</mat-label>
            <input matInput placeholder="Ex. Cupom de boa vindas" formControlName="titulo">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Texto</mat-label>
            <input matInput placeholder="Ex. Você recebeu um cupom para fazer sua primeira compra" formControlName="texto">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Regras</mat-label>
            <input matInput placeholder="Ex. O cupom só poderá ser usado apenas uma vez" formControlName="regras">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Valor</mat-label>
            <input matInput placeholder="R$15,00" formControlName="valor" mask="separator.2" thousandSeparator=".">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Pedido mínimo</mat-label>
            <input matInput placeholder="R$12,00" formControlName="pedido_min" mask="separator.2" thousandSeparator=".">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Data de expiração</mat-label>
            <input matInput formControlName="datafim" type="date">
        </mat-form-field>


        <div>
            <button mat-stroked-button color="accent" [mat-dialog-close]="false">Cancelar</button>
            <button style="margin-left: 3px;" mat-flat-button color="warn" [mat-dialog-close]="form.value">Salvar</button>
        </div>

    </div>

</div>