.mat-form-field {
    width: 100%;
}

.guin1 {
    display: grid;
    grid-template-columns: 10fr 1fr;
    gap: 5px;
}

.guin2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.boc1 {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 10px;
}

@media(max-width:600px) {
    .boc1 {
        display: grid;
    }
    .guin1 {
        display: grid;
        gap: 5px;
    }
    .guin2 {
        display: grid;
        gap: 5px;
    }
}