/* You can add global styles to this file, and also import other style files */

:root {
    --background-color-tema: rgb(14 14 14);
}

@keyframes fadeinimg {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 13px;
}

.delsuc-3 {
    width: 100%;
    font-size: 11px;
}

.active-link {
    background-color: gold;
    color: rgb(0, 0, 0);
    outline: none;
}

.active-button {
    color: #F44336;
}

@media print {
    @page {
        size: 5.5in 8.5in;
        size: landscape;
    }
}

.special-date {
    background-color: gold;
}

.menuSelecionado {
    background-color: gold;
}

.ng-lazyloaded {
    animation: fadeinimg 3s;
}

@keyframes fadeinimg {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}