<mat-toolbar>
    <span>Clientes</span>
</mat-toolbar>
<div style="height: 5px;">
    <mat-progress-bar mode="query" *ngIf="statusCons"></mat-progress-bar>
</div>


<mat-form-field class="f-cli" style="margin-left: 15px;" [formGroup]="form">
    <mat-label>Filtro</mat-label>
    <input matInput type="name" formControlName="clienteNome" placeholder="Nome cliente" (keydown.enter)="consultaClienteFiltro()">
    <mat-hint> Digite o nome ou telefone e aperte enter para pesquisar </mat-hint>
</mat-form-field>


<div style="padding: 5px;">

    <table mat-table [dataSource]="itens">


        <ng-container matColumnDef="op">
            <th mat-header-cell *matHeaderCellDef>
                <app-bt-exportar *ngIf="btblista" [lista]="itens" [nomeArquivo]="'listaCLientes'"></app-bt-exportar>
            </th>
            <td mat-cell *matCellDef="let element">

                <button *ngIf="btMenu" mat-icon-button color="warn" [matMenuTriggerFor]="menu" (click)="onClickBtMenu(element)">
                    <mat-icon>menu</mat-icon>
                </button>

                <mat-menu #menu="matMenu">
                    <button [disabled]="element.id == 'NOT'" (click)="onClickEditar(element)" mat-menu-item> Editar
                        dados do cliente</button>
                    <button [disabled]="element.id == 'NOT'" (click)="formaddEnd()" mat-menu-item> Adicionar novo
                        endereço </button>
                    <button (click)="enderecoCliente(element)" mat-menu-item> Novo pedido </button>
                </mat-menu>

            </td>
        </ng-container>

        <!--<ng-container matColumnDef="op2">
            <th mat-header-cell *matHeaderCellDef> Remover. </th>
            <td mat-cell *matCellDef="let element">

                <button (click)="removerItem(element)" mat-icon-button color="warn">
                    <mat-icon>delete</mat-icon>
                </button>

            </td>
        </ng-container>-->



        <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef> Nome. </th>
            <td mat-cell *matCellDef="let element">
                {{element.nome}}
                <mat-icon color="warn" *ngIf="element.id == 'NOT'" matTooltip="Este usuário fez seu próprio cadastro na loja" class="mat-18">how_to_reg</mat-icon>
            </td>
        </ng-container>

        <ng-container matColumnDef="telefone">
            <th mat-header-cell *matHeaderCellDef> Telefone. </th>
            <td mat-cell *matCellDef="let element">
                {{element.telefone | mask: '(00) 00000-000000'}}
            </td>
        </ng-container>

        <ng-container matColumnDef="aniversario">
            <th mat-header-cell *matHeaderCellDef> Data aniversário. </th>
            <td mat-cell *matCellDef="let element">
                {{element.data_aniversario}}
            </td>
        </ng-container>


        <!--<ng-container matColumnDef="endereco">
            <th mat-header-cell *matHeaderCellDef> Cidade. </th>
            <td mat-cell *matCellDef="let element">
                {{element.cidade.nome}} {{element.uf}}
            </td>
        </ng-container>-->


        <ng-container matColumnDef="tipo">
            <th mat-header-cell *matHeaderCellDef> Tipo. </th>
            <td mat-cell *matCellDef="let element">
                {{element.tipo}}
            </td>
        </ng-container>



        <ng-container matColumnDef="info">
            <th mat-header-cell *matHeaderCellDef> Data cadastro. </th>
            <td mat-cell *matCellDef="let element">
                {{element.info}}
            </td>
        </ng-container>

        <ng-container matColumnDef="add">
            <th mat-header-cell *matHeaderCellDef>
                <button *ngIf="addCli" mat-icon-button color="warn" (click)="add()">
                    <mat-icon>add</mat-icon>
                </button>




            </th>
            <td mat-cell *matCellDef="let element">

                <button [disabled]="element.id == 'NOT'" *ngIf="btRemo" (click)="removerItem(element)" mat-icon-button color="warn">
                    <mat-icon>delete</mat-icon>
                </button>

            </td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


    <div class="itensClientes">

        <button *ngIf="addCli" mat-icon-button color="warn" (click)="add()">
            <mat-icon>add</mat-icon>
        </button>

        <div *ngFor="let element of itens" class="itemCliente">
            <div> </div>
            <div> Nome: {{element.nome}} </div>
            <div> Telefone: {{element.telefone | mask: '(00) 00000-000000'}} </div>
            <div> Data aniversário: {{element.data_aniversario}} </div>
            <div> Tipo cliente: {{element.tipo}} </div>
            <div> Data cadastro: {{element.info}}</div>
            <div class="abts">
                <div>

                    <button *ngIf="btMenu" mat-icon-button color="warn" [matMenuTriggerFor]="menu" (click)="onClickBtMenu(element)">
                        <mat-icon>menu</mat-icon>
                    </button>

                    <mat-menu #menu="matMenu">
                        <button [disabled]="element.id == 'NOT'" (click)="onClickEditar(element)" mat-menu-item> Editar
                            dados do cliente</button>
                        <button [disabled]="element.id == 'NOT'" (click)="formaddEnd()" mat-menu-item> Adicionar novo
                            endereço </button>
                        <button (click)="enderecoCliente(element)" mat-menu-item> Novo pedido </button>
                    </mat-menu>

                </div>

                <div>

                </div>

                <div style="text-align: end;">
                    <button [disabled]="element.id == 'NOT'" *ngIf="btRemo" (click)="removerItem(element)" mat-icon-button color="warn">
                        <mat-icon>delete</mat-icon>
                    </button>

                </div>

            </div>
        </div>
    </div>

</div>