.bb {
    width: 91%;
    height: 78vh;
    background-color: #ffffff;
    position: absolute;
    z-index: 1;
    border: 1px solid #b4b7b0;
    border-radius: 2px;
    overflow: auto;
}

.item {
    width: 161px;
    height: 200px;
    background-color: #f0f0f3;
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-grid;
    gap: 10px;
    border: 1px solid #eae2e2;
    margin: 5px;
    opacity: 0.5;
}

.item:hover {
    border: 1px solid #03b82b;
    opacity: 1;
}