<mat-toolbar>
  <span> Catálogo </span>
</mat-toolbar>

<mat-card style="margin:2px; display: none;">
  Link do cardápio digital:
  <a target="new_" href="https://vulto.site/{{servicoapp.getDadosEmpresa().nomemin}}" class="" style="background: #E91E63;
  padding: 10px;
  border-radius: 20px;
  color: white;font-weight: 500;">
    https://site/{{servicoapp.getDadosEmpresa().nomemin}}
  </a>
</mat-card>


<div class="c">
  <button mat-raised-button color="primary" (click)="dialogAddCat()">
    <mat-icon>add</mat-icon> Nova categoria
  </button>

  <button style="margin-left: 10px;" mat-raised-button color="primary" matTooltip="Adicionar novo item" (click)="dialogAddItem(0)">
    <mat-icon>add</mat-icon> Novo item
  </button>

  <a style="margin-left: 10px;" mat-raised-button color="primary" matTooltip="Adicionar novo item" [href]="servicoapp.getHOSTApi() + '/php/importar-produtos'" target="_new" *ngIf="servicoapp.btimportarprodutos">
    <mat-icon>upload</mat-icon> Importar produtos
  </a>

</div>

<div style="text-align: center;">
  <mat-form-field class="fotmg" style="width: 90%;" color="primary" appearance="outline">
    <mat-label> Filtro </mat-label>
    <input matInput placeholder="Filtrar item do catálogo" #filtrop>
  </mat-form-field>

</div>

<div *ngIf="!statusloader">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>


<div class="itensCatalogo">
  <span *ngFor="let categoria of servico.getCardapio() | nomes:filtrop.value">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>

            <span *ngIf="!categoria.esconder" class="sptrue">Disponível</span>
            <span *ngIf="categoria.esconder" class="spfalse">Indisponível</span>

            <span *ngIf="!categoria.esgotado" class="sptrue">Ativo</span>
            <span *ngIf="categoria.esgotado" class="spfalse">Esgotado</span>

            <span style="margin-left: 20px; font-size: 14px;">{{ categoria.nome }}</span>

          </mat-panel-title>
          <mat-panel-description>
            <!--Currently I am {{panelOpenState ? 'open' : 'closed'}}-->
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div style="width: 100%;">
          <mat-list role="list">
            <mat-list-item role="listitem">
              <div class="cc_">
                <div style="    width: 100%;
                margin-top: 10px;
                margin-bottom: 10px;
                display: grid;
                grid-template-columns: 0fr 1fr;">

                  <div>
                    <button mat-button [matMenuTriggerFor]="menu">
                      <mat-icon color="primary">settings</mat-icon>
                    </button>

                    <mat-menu #menu="matMenu">
                      <button mat-menu-item (click)="dialogEditarCar(categoria)">
                        <mat-icon>edit</mat-icon> Editar categoria
                      </button>
                      <button mat-menu-item (click)="removerCat(categoria)">
                        <mat-icon>restore_from_trash</mat-icon> Remover categoria
                      </button>
                    </mat-menu>

                  </div>

                  <div>
                    <button mat-raised-button color="primary" matTooltip="Ver lista de produtos" (click)="verItensCat(categoria)" [matBadge]="categoria.itens.length" matBadgeColor="warn" [matBadgeHidden]="false">
                      <mat-icon>list</mat-icon> Ver itens
                    </button>
                  </div>

                </div>
                <div style="width: 100%; font-size: 14px;">

                </div>
              </div>
            </mat-list-item>
          </mat-list>
        </div>


        <!--<span *ngFor="let item of categoria.itens | nomes:filtrop.value">
          <div class="guinh">
            <div class="item-cat">
              <div class="item-imagem" [defaultImage]="servicoapp.getDefaultImage()" [lazyLoad]="item.imagem"
                offset="100"></div>
              <div class="area-dados-item">
                <div class="i-item-nome">


                  <button mat-button [matMenuTriggerFor]="menu">
                    <mat-icon color="warn">settings</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="dialogEditarItem(item, categoria)">
                      <mat-icon>edit</mat-icon> Editar item
                    </button>
                    <button mat-menu-item (click)="onClickConfigurarItem(item, categoria)">
                      <mat-icon>settings</mat-icon> Configurar item
                    </button>

                  </mat-menu>
                  #{{item.id}} - {{item.nome}} <span *ngIf="item.itemEstoqueRelacionado !== '0'">
                    <mat-icon matTooltip="Item relacionado">compare_arrows</mat-icon> {{item.itemEstoqueRelacionado}}
                  </span>
                  <span class="dels" *ngIf="item.esgotado === true && item.tipo_acao !== 'esg_estoque'">
                    <mat-icon class="mat-18" matTooltip="Item esgotado">warning</mat-icon>

                  </span>
                  <span class="dels2" *ngIf="item.esconder === true">
                    <mat-icon class="mat-18" matTooltip="Item oculto para os clientes">warning</mat-icon>
                  </span>

                  <span class="" *ngIf="item.tipo_acao === 'esg_estoque'">
                    <mat-icon class="mat-18" color="warn" matTooltip="Item esgotado por falta de estoque">
                      transit_enterexit</mat-icon>
                  </span>

                </div>
                <div class="item-descricao">{{item.descricao}}</div>
                <div class="item-preco">{{item.preco | currency:'BRL':true}}</div>
              </div>
            </div>

          </div>
        </span>-->


      </mat-expansion-panel>
    </mat-accordion>
  </span>
</div>


<div style="height: 1px;  width: 100%; background-color: rgb(209, 222, 223);"></div>