.guinh {
    display: grid;
    grid-template-columns: 12fr 1fr;
    align-items: center;
    border-top: 1px solid #dadada;
}

.mat-accordion .mat-expansion-panel:last-of-type {
    margin-bottom: 4px;
}

.sptrue {
    margin-left: 10px;
    color: #4caf50;
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    border: 1px solid #4caf50;
    font-size: 12px;
}

.spfalse {
    margin-left: 10px;
    background: #252525;
    color: white;
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    font-size: 12px;
}

.dels {
    color: #F44336;
    border-radius: 3px;
    margin-right: 2px;
    margin-left: 20px;
}

.dels2 {
    color: gold;
    border-radius: 3px;
    margin-right: 2px;
    margin-left: 20px;
}

.area-itens {
    border-radius: 2px;
    margin-top: 25px;
    width: 98%;
    margin: 10px;
}

.item-cat {
    margin-bottom: 25px;
    display: flex;
    background-color: rgb(255, 255, 255);
    padding-top: 11px;
}

.item-imagem {
    width: 90px;
    height: 90px;
    background-color: #e3e3ec;
    /* background-image: url('https://xdelssy.com.br/sis_entregas/php/upload/91e38ccb007749ee04d98fc17bd35f56.png');*/
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 3px;
}

.area-dados-item {
    width: 100%;
    padding-left: 10px;
}

.item-nome {
    width: 100%;
}

.item-descricao {
    font-size: 11px;
    color: rgb(114, 114, 114);
    margin-top: 8px;
}

.item-preco {
    width: 100%;
}

.cc_ {
    width: 100%;
    font-size: 20px;
    margin-bottom: 25px;
}

.c {
    padding: 10px;
}
.itensCatalogo {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    padding: 10px;
    gap: 10px;
}
.i-item-nome {
    font-size: 12px;
}

.bt01 {
    margin-left: 10px;
}
@media(max-width:600px) {
    .itensCatalogo {
        display: grid;
        grid-template-columns:  1fr;
    }
    .sptrue {
        margin-left: 10px;
        color: #4caf50;
        padding: 1px;
        padding-left: 1px;
        padding-right: 1px;
        border-radius: 0px;
        border: none;
        font-size: 12px;
    }
    .c {
        padding: 10px;
        display: grid;
        justify-content: normal;
        gap: 6px;
    }
    
.bt01 {
    margin-left: 0px;
}
}