<div class="divnocord" *ngIf="servico.getDadosEmpresa().coordenadas[0] === 'coordenadas'">
  <div class="divnocord-second">
    <div style="width: 100%;padding-top: 5%;">
      <mat-card class="csscard">
        <div>
          <mat-icon>info</mat-icon>
        </div>
        <h3>Entre em contato para configurar</h3>
        <h4>
          <a mat-flat-button color="warn" target="new_" href="https://api.whatsapp.com/send?phone=5574988420307">
            <mat-icon>phone</mat-icon> (74)9.8842-0307
            <mat-icon>message</mat-icon>
          </a>

        </h4>
      </mat-card>
    </div>
  </div>
</div>

<div class="g">
  <!--<div class="col1">

        <app-cadastro-pedido></app-cadastro-pedido>

    </div>-->
  <div class="col2">


    <agm-map (mapClick)="placeMarker($event)" [fitBounds]="false" [latitude]="lat" [zoom]="13" [longitude]="lgn"
      *ngIf="servico.getDadosEmpresa().coordenadas[0] !== 'coordenadas'" (mapReady)="onMapReady($event)">

      <!--
<agm-marker [latitude]="lat" [longitude]="lgn">
  <agm-info-window>iiIIidjf</agm-info-window>
</agm-marker>
-->

      <agm-overlay [latitude]="lat" [longitude]="lgn">
        <!-- blue html square -->
        <agm-info-window>{{servico.getDadosEmpresa().nome}}</agm-info-window>
        <div class="customMarker">
          <img class="customMarker-img" [lazyLoad]="servico.getDadosEmpresa().imagem">
        </div>
      </agm-overlay>


      <!--Entregas-->
      <span *ngFor="let item of this.servico.getListaEntregas()">


        <!--<agm-overlay [latitude]="getNumber(item.coordenada_cliente[0])" [longitude]="getNumber(item.coordenada_cliente[1])"
    *ngIf="item.status_pedido === '0' || item.status_pedido === '1' || item.status_pedido === '2' || item.status_pedido === '8'">-->
        <!-- blue html square -->
        <agm-overlay [latitude]="getNumber(item.coordenada_cliente[0])"
          [longitude]="getNumber(item.coordenada_cliente[1])" *ngIf="item.status === '0' || item.status === '1'">

          <agm-info-window>Entrega #{{item.id}}</agm-info-window>
          <!--<agm-direction [renderOptions]="{suppressMarkers: true, draggable: true}"
      [origin]="{lat:getNumber(item.coordenada_cliente[0]), lng:getNumber( item.coordenada_cliente[1])}"
      [destination]="{lat:lat, lng:lgn} "
      *ngIf="item.status_pedido === '0' || item.status_pedido === '1' || item.status_pedido === '2' || item.status_pedido === '8'">
    </agm-direction>-->

          <div class="customMarkerEntrega" [class.customMarkerEntregaEntregue]="item.status_pedido == 3">
            <div class="customMarker-inter" [class.cssEntregue]="item.status_pedido == 3"></div>
            <!-- <div class="customMarker-linha">
              <div *ngIf="item.entregador" class="customMarker-linha-entre" [lazyLoad]="item.entregador.imagem"
                (click)="onclickImagemEnt(item)">
              </div>
              <div *ngIf="!item.entregador" class="customMarker-linha-entre">
               
              </div>
              <div class="customMarker-pau"></div>
            </div>-->
            <div class="customMarkerEntrega-ponta" [class.customMarkerEntregapontaok]="item.status_pedido == 3"></div>
          </div>


        </agm-overlay>
      </span>
      <!--Entregas-->

      <!--PEDIDOS-->
      <span *ngFor="let item of this.servpedidos.getPedidos()">
        <!-- SE o motoboy aceitou nao mostra -->
        <span *ngIf="item.status_motoboy === '0'">
          <agm-overlay [latitude]="getNumber(item.coordenada_cliente[0])"
            [longitude]="getNumber(item.coordenada_cliente[1])"
            *ngIf="item.status_pedido === '0' || item.status_pedido === '1' || item.status_pedido === '3' || item.status_pedido === '4' || item.status_pedido === '5'">

            <agm-info-window>Pedido #{{item.id}}</agm-info-window>
            <!--<agm-direction [renderOptions]="{suppressMarkers: true, draggable: true}"
                              [origin]="{lat:getNumber(item.coordenada_cliente[0]), lng:getNumber( item.coordenada_cliente[1])}"
                              [destination]="{lat:lat, lng:lgn} "
                              *ngIf="item.status_pedido === '0' || item.status_pedido === '1' || item.status_pedido === '2' || item.status_pedido === '8'">
          </agm-direction>-->

            <div class="customMarkerEntregaRED">
              <div class="customMarker-inter"></div>
              <div class="customMarkerEntrega-pontaRED"></div>
            </div>


          </agm-overlay>
        </span>
      </span>
      <!--PEDIDOS-->





      <!--Direções-->
      <span *ngFor="let item of this.servico.getListaEntregas()">
        <span
          *ngIf="item.status_pedido === '0' || item.status_pedido === '1' || item.status_pedido === '2' || item.status_pedido === '8' ">

          <!--Sicroniza entrega com o entregador-->
          <!-- Do entregador para a entrega: aceita-->
          <span *ngFor="let ent_entregador of this.servico.getListaEntregador()">
            <span *ngIf="item.entregador && item.entregador.id === ent_entregador.id">

              <!-- ROTA DA ENREGA PARA A EMPRESA -->
              <!--<agm-direction [renderOptions]="renderOptions" [visible]="config.getStatusRotasEntregador()"
                *ngIf="item.status_pedido === '1'"
                [origin]="{lat: getNumber(ent_entregador.coordenadas[0]), lng: getNumber(ent_entregador.coordenadas[1])}"
                [destination]="{lat: getNumber(lat), lng: getNumber(lgn)}">
              </agm-direction>-->

              <!-- Do entregador para a entrega: a caminho-->
              <agm-direction [renderOptions]="renderOptions2" [visible]="config.getStatusRotasEntregador()"
                *ngIf="item.status_pedido === '2'"
                [origin]="{lat: getNumber(ent_entregador.coordenadas[0]), lng: getNumber(ent_entregador.coordenadas[1])}"
                [destination]="{lat: getNumber(item.coordenada_cliente[0]), lng: getNumber(item.coordenada_cliente[1])}">
              </agm-direction>

            </span>
          </span>
          <!--Sicroniza com o entregador-->
          <!-- Da empresa para a entrega-->
          <!--<agm-direction [renderOptions]="renderOptions" [visible]="config.getStatusRotas()" [origin]="{lat: getNumber(item.coordenada_cliente[0]), lng: getNumber(item.coordenada_cliente[1])}" [destination]="{lat: getNumber(lat), lng: getNumber(lgn)}"></agm-direction>-->



        </span>
      </span>
      <!--Direções-->



      <!--Entregadores-->
      <span *ngFor="let item of servico.getListaEntregador()">

        <agm-info-window>{{item.nome}}</agm-info-window>

        <agm-overlay [latitude]="getNumber( item.coordenadas[0] )" [longitude]="getNumber( item.coordenadas[1] )"
          id="agm-overlay-{{item.id}}">
          <!-- blue html square -->
          <div class="customMarker">
            <img class="customMarker-img" [defaultImage]="'assets/vultopreto.png'" [lazyLoad]="item.imagem_ic"
              offset="100git ">
          </div>
        </agm-overlay>
      </span>


    </agm-map>

  </div>
</div>


<!--<div class="customMarkerEntrega">
    <div class="customMarker-inter">
    </div>
    <div class="customMarker-linha">
        <div class="customMarker-linha-entre">
        </div>
        <div class="customMarker-pau"></div>
    </div>
    <div class="customMarkerEntrega-ponta"></div>
</div>-->