
.element1 {
    height: 70vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 17px;
    padding: 24px;
}
.c2 {
    display: grid;
    align-items: center;
    text-align: center;
    border-left: 1px solid #e6e0e0;
}
.c1 {
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-rows: 75px 116px;
}


.ccc {
    background-size: 37%;
    height: 150px;
    width: 253px;
    margin: auto;
    background-image: url('../../assets/gif/wifi.gif');

    background-color: #4caf50;
    border-radius: 23px;
    background-position: 95px;
    background-repeat: no-repeat;
    padding: 23px;
    color: white;
    display: grid;
    grid-template-rows: 100px;
}

.av {
    margin: auto;
    background: gold;
    padding: 15px;
    color: white;
    border-radius: 47px;
    text-align: center;
    color: #4e4848;
}

.fuin {
    display: grid; grid-template-columns: 1fr 1fr;gap: 6px;
}

@media(max-width:600px) {
   
.fuin {
    
    display: grid; grid-template-columns: 1fr;gap: 6px;
}
.c2{
    border-left: none; 
}

.element1 {
    display: grid;
    grid-template-columns: 1fr;
}
}