<table mat-table [dataSource]="despesas" class="mat-elevation-z8">

    <ng-container matColumnDef="c1">
        <th mat-header-cell *matHeaderCellDef>
            <button mat-icon-button color="accent" (click)="addDespesa()">
                <mat-icon>add</mat-icon>
              </button> Nome.
        </th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="detalhesItem(element)">
                <mat-icon>help</mat-icon>
              </button> {{element.nome}}
        </td>
    </ng-container>


    <ng-container matColumnDef="c3">
        <th mat-header-cell *matHeaderCellDef> Valor. </th>
        <td mat-cell *matCellDef="let element">
            <span *ngIf="element.tipo === 'despesa'" style="color: red;"> -{{element.valor | currency:'BRL':true}}  </span>
            <span *ngIf="element.tipo !== 'despesa'" style="color:rgb(36 156 25);"> {{element.valor | currency:'BRL':true}}  </span>

        </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumnsDespesas"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsDespesas;"></tr>

</table>



<table mat-table [dataSource]="dataSourceDespesa" class="">

    <ng-container matColumnDef="c1">
        <th mat-header-cell *matHeaderCellDef> Resumo despesas </th>
        <td mat-cell *matCellDef="let element"> </td>
    </ng-container>

    <ng-container matColumnDef="c2">
        <th mat-header-cell *matHeaderCellDef> <span style="color: red;font-weight: 600;"> {{ resumoDespesa | currency:'BRL':true}} </span> </th>
        <td mat-cell *matCellDef="let element"> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<table mat-table [dataSource]="dataSource" class="">

    <ng-container matColumnDef="c1">
        <th mat-header-cell *matHeaderCellDef> Total faturamento </th>
        <td mat-cell *matCellDef="let element"> </td>
    </ng-container>

    <ng-container matColumnDef="c2">
        <th mat-header-cell *matHeaderCellDef> {{ totalReceita | currency:'BRL':true}} </th>
        <td mat-cell *matCellDef="let element">

        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>


<table mat-table [dataSource]="fatliquido" class="">

    <ng-container matColumnDef="c1">
        <th mat-header-cell *matHeaderCellDef> Faturamento líquido</th>
        <td mat-cell *matCellDef="let element">

        </td>
    </ng-container>

    <ng-container matColumnDef="c2">
        <th mat-header-cell *matHeaderCellDef><span style="color: rgb(0, 51, 255);font-weight: 600;"> {{ totalLiquido | currency:'BRL':true}}   </span> </th>
        <td mat-cell *matCellDef="let element">


        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>